<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Downloads Revista</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <style type="text/css">
    :focus{outline:none;}
  </style>

</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <table border="0" cellpadding="0" cellspacing="0" align="center" width="520px">
    <tr>
      <td><a href="http://talenses.com"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img1.jpg" alt="" width="400" height="87"></a></td>
      <td><a href="https://www.linkedin.com/company/talenses"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img2.jpg" alt="" width="36" height="87"></a></td>
      <td><a href="https://twitter.com/Talenses"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img3.jpg" alt="" width="35" height="87"></a></td>
      <td><a href="https://www.facebook.com/Talenses"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img4.jpg" alt="" width="35" height="87"></a></td>
      <td><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img5.jpg" alt="" width="14" height="87"></td>

    </tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img6.jpg" alt="" width="520" height="172"></td></tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img7.jpg" alt="" width="520" height="135"></td></tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img8.jpg" alt="" width="520" height="128"></td></tr>
    <tr><td colspan="5"><a href="{{ download }}"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img9.jpg" alt="" width="520" height="93"></a></td></tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img10.jpg" alt="" width="520" height="90"></td></tr>
    <tr>
      <td colspan="5" style="background-color: #474747; color:#696969;font-size: 10px;font-family: tahoma,arial;text-align: center;" width="520">
        <span style="color:#fff; margin: 0 auto; width: 450px; display: block;">{{ endereco }}</span></td></tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img12.jpg" alt="" width="520" height="28"></td></tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img13.jpg" alt="" width="520" height="8"></td></tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img14.jpg" alt="" width="520" height="10"></td></tr>
  </table>

</body>
</html>
