{% include '/admin/base/header.html.twig' %}

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>{{ pagina }}</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/service/admin/home">Home</a>
        </li>
        <li class="active">
          <strong>{{ pagina }}</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <br>
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <h3 class="m-t-none m-b">Dados do formulário</h3>

          <form role="form" id="form" class="clearfix js-form-base">
            <div class="form-group">
              <label>Nome do campo:</label>
              <input type="text" name="const_name" placeholder="" value="" class="form-control" required="">
              <small>
                O nome do campo será usado para criar a tabela no Banco de Dados. As seguintes regras devem ser seguidas:<br>
                &nbsp;&nbsp;&nbsp;1 - Prefixo do nome do campo seguindo as 3 primeiras letras do nome. Caso seja repetido, usar a próxima letra, pro exemplo: pro_nome, pro_status, prm_descricao.<br>
				&nbsp;&nbsp;&nbsp;2 - Sempre crie um campo NOME. Ex.: pro_nome, des_nome, etc.<br>
				&nbsp;&nbsp;&nbsp;3 - Nome do controller sempre no plural.<br>
                &nbsp;&nbsp;&nbsp;4 - <b>Não repita os prefixos para facilitar os JOINs.</b> <br>
              </small>
            </div>
            <div class="form-group">
              <label>Tipo:</label>
              <select name="const_type" id="const_type" class="form-control m-b js-select-1" required="">
                <option value="text">text</option>
                <option value="textarea">textarea</option>
                <option value="password">password</option>
                <option value="email">email</option>
                <option value="select">select</option>
                <option value="radio">radio</option>
                <option value="checkbox">checkbox</option>
                <option value="file">file</option>
                <option value="hidden">hidden</option>
              </select>
            </div>

            <div class="form-group js-anchor-1" style="display: none;">
              <label>Options:</label>
              <input type="text" name="const_options" data-status="false" placeholder="" value="" class="form-control" data-increment="const_type" style="display: none;">
              <small>
                Separe os options por virgula exemplo: "op1, op2, op3".
              </small>
            </div>

            <div class="form-group">
              <label>Label:</label>
              <input type="text" name="const_label" placeholder="" value="" class="form-control" required="">
              <small>
                Nome de exibição no template, como mostrado acima "Label:".
              </small>
            </div>
            <div class="form-group">
              <label>Value:</label>
              <input type="text" name="const_value" placeholder="" value="" class="form-control">
              <small>
                Valor default do campo (value="")
              </small>
            </div>
            <div class="form-group">
              <label>Size:</label>
              <input type="text" name="const_size" placeholder="" value="" class="form-control" >
              <small>
                Tamanho informado aqui também será usado para o campo no Banco de Dados.
              </small>
            </div>
            <div class="form-group">
              <label>Required:</label>
              <select name="const_required" class="form-control" data-text="true" >
                <option value="1" selected >Sim</option>
                <option value="0" >Não</option>
              </select>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-primary js-btn">Inserir</button>
            </div>
          </form>

          <div class="hr-line-dashed"></div>

          <h3 class="m-t-none m-b">Formulário</h3>

          <table class="table table-striped table-bordered table-hover js-table">

            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Label</th>
                <th>Value</th>
                <th>Size</th>
                <th>Required</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody class="js-list"></tbody>
          </table>

          <div class="hr-line-dashed"></div>

          <h3 class="m-t-none m-b">Controller</h3>

          <form role="form" id="form" class="clearfix js-form-constructor">
            <div class="form-group">
              <label>Nome:</label>
              <input type="text" name="const_nome" placeholder="" value="" class="form-control" required="">
            </div>

            <div class="form-group">
              <label>Query personalizada:</label>
              <textarea  name="const_query"  class="form-control"></textarea>
              <small>
                <!-- descrição -->
              </small>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="alert alert-danger js-danger" style="display: none;"></div>
            <div class="alert alert-success js-success" style="display: none;"></div>

            <div class="form-group clearfix">
              <a href="javascript:void(0)" class="btn btn-w-m btn-default pull-left js-cancel" type="button" data-dismiss="modal"><strong>Cancelar</strong></a>
              <a href="javascript:void(0)" class="btn btn-w-m btn-primary pull-right js-save" type="submit" id="salvarNovo"><strong>Salvar</strong></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include '/admin/base/footer.html.twig' %}
  {% include '/admin/base/funcoes.html.twig' %}

  <!-- Validate -->
  <script src="{{ assetUri }}/web/js/plugins/validate/jquery.validate.min.js"></script>

  <script type="text/javascript">
    $( function() {

      var $formBase = $( '.js-form-base' ),
          $formFields = $( '.js-form-fields' ),
          $formConstructor = $( '.js-form-constructor' ),
          warnStatus = false,
          $warnError = $formConstructor.find( '.js-danger' ),
          $warnSuccess = $formConstructor.find( '.js-success' ),
          $btnInsert = $formBase.find( '.js-btn' ),
          $formConstructor = $( '.js-form-constructor' ),
          $btnSave = $formConstructor.find( '.js-save' ),
          $btnCancel = $formConstructor.find( '.js-cancel' ),
          $list = $( '.js-list' ),
          $table = $( '.js-table' ).DataTable( { "order": [ 0, 'asc' ] } ),
          id = 0;

      String.prototype.splice = function( idx, rem, s ) {
        return (this.slice(0,idx) + s + this.slice(idx + Math.abs(rem)));
      };

      $formBase.validate();
      $formConstructor.validate();

      function insert() {

        var content = [];

        content.push( id );
        id++;

        $.each( $( 'input, select, textarea', $formBase ), function() {

          var value = $( this ).val();

          if( Boolean( $( this ).data( 'text' ) ) ) {

            value = $( this ).find( 'option:selected' ).text();

          }

          if( Boolean( $( this ).data( 'status' ) ) ) {

            content[ content.length - 1 ] += '<input type="hidden" name="' + $( this ).attr( 'name' ) + '" value="' + $( this ).val() + '"><br>Options: ' + $( this ).val();

          } else {

            if( $( this ).data( 'status' ) === undefined ) {

              content.push( value + '<input type="hidden" name="' + $( this ).attr( 'name' ) + '" value="' + $( this ).val() + '">' );

            }

          }

        } );

        content.push( '<a href="javascript:void(0)" class="btn btn-danger js-remove" alt="Excluir" title="Excluir"><i class="fa fa-trash-o"></i></a></form>' );
        $table.row.add( content ).draw();
        $formBase[0].reset();
        $( '.js-anchor-1' ).hide();
      }

      function remove( $target ) {
        var row = $table.row( $target.closest( 'tr' ) );
        row.remove().draw();
      }

      function constructorToJSON( constructor, fields ) {
        var $form = $( '<form></form>' ),
            dados = $( $formConstructor ).serializeJSON( { parseAll: true } );

        if( $list.find( 'tr' ).attr( 'role' ) !== 'row') {
          dados.campos = '';
        } else {
          dados.campos = [];
          $.each( $( 'tr', $list ), function() {
            $form.html( $( this ).clone() );
            dados.campos.push( $form.serializeJSON() );
          } );
        }

        return dados;
      }

      function resetList() {
        $formBase[0].reset();
        $formConstructor[0].reset();
        var row = $table.row( '*' );
        row.remove().draw();
      }

      function showWarn( status, msg ) {
        clearTimeout( warnStatus );
        $warnSuccess.text( msg || 'Construtor cadastrado com sucesso.' );
        $warnError.text( msg ||  'Falha ao cadastrar o construtor.' );
        if( status ) {
          $warnSuccess.fadeIn( 300 );
          resetList();
          warnStatus = setTimeout( function() {

            $warnSuccess.fadeOut( 300 );
            $warnError.fadeOut( 300 );

          }, 10000 );

        } else {
          $warnError.fadeIn( 300 );

          warnStatus = setTimeout( function() {
            $warnSuccess.fadeOut( 300 );
            $warnError.fadeOut( 300 );

          }, 10000 );

        }

      }

      function submit( json ) {

        var url = '/service/admin/construtor';
        $btnSave.text( 'Aguarde...' );

        $.post( url, json, function( data ) {
          $btnSave.text( 'Salvar' );

          if( data.cod == 200 ) {
            showWarn( true );
          } else {
            showWarn( false, data.res );
          }
        }, 'json' );

      }

      $list
        .on( 'click', '.js-remove', function() {
          remove( $( this ) );
        } );

      $btnInsert
        .on( 'click', function() {

          if( $formBase.valid() ) {

            insert();

          }

        } );

      $btnSave
        .on( 'click', function() {

          if( $formConstructor.valid() ) {

            var data = constructorToJSON();
            submit( data );

          }

        } );


      $( '.js-select-1' )
        .on( 'change', function() {

          var value = $( this ).find( 'option:selected' ).val();

          if( value === 'select' || value === 'radio' || value === 'checkbox' ) {

            $( '.js-anchor-1' ).show().find('input').show();
            $( '.js-anchor-1' ).find( 'input' ).data( { 'status': true } );

          } else {

            $( '.js-anchor-1' ).hide().find('input').hide();
            $( '.js-anchor-1' ).find( 'input' ).data( { 'status': false } );

          }

        } );

      $btnCancel.on( 'click', resetList );

    } );
  </script>
