{% include '/admin/base/header.html.twig' %}

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>{{ pagina }}</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/service/admin/home">Home</a>
				</li>
				<li class="active">
					<strong>{{ pagina }}</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<br>
        <div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="text-right">
						<a data-toggle="modal" class="btn btn-primary" href="#modal-form">Cadastrar</a>
					</div>
					<table class="table table-striped table-bordered table-hover" id="editable">

						<thead>
							<tr>

							  {% for coluna in colunas %}
							  <th>{{ coluna }}</th>
							  {% endfor %}

                              <th>Ações</th>

							</tr>
						</thead>

						<tbody>

							{% for linha in linhas %}
							<tr>

								{% for coluna in colunas %}
									{% if coluna == 'Ativo' %}
										{% if attribute(linha, coluna) == '1' %}<td><span class="label label-success">Ativo</span></td>{% endif %}
										{% if attribute(linha, coluna) == '0' or attribute(linha, coluna) is empty %}<td><span class="label label-important">Inativo</span></td>{% endif %}
									{% else %}
										<td>{% if attribute(linha, coluna)|length > 30 %}{{ attribute(linha, coluna)[:30] }}...{% else %}{{ attribute(linha, coluna) }}{% endif %}</td>
									{% endif %}
								{% endfor %}

								<td class="center">
									<a class="btn btn-info" data-toggle="modal" href="#modal-form-editar" alt="Editar" title="Editar" onclick="getDados({{linha.ID}});">
										<i class="fa fa-edit"></i>
									</a>
									<a class="btn btn-danger" data-id="{{ linha.ID }}" data-toggle="modal" href="#confirmDelete" id="excluir" alt="Excluir" title="Excluir">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
							</tr>

							{% endfor %}

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal novo -->
	<div id="modal-form" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<h3 class="m-t-none m-b">Cadastrar {{ pagina }}</h3>

						<div class="hr-line-dashed"></div>

						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>

						<form role='form' id='form' enctype='multipart/form-data'>
							<div class='form-group'>
								<label>Nome:</label>
								<input class='form-control' type='text' name='deh_nome' id='deh_nome' value='' required maxlength = '45'>
								<small>Máximo de 45 caracteres</small>
							</div>
							<div class='form-group'>
									<label>Descrição:</label>
									<textarea class='form-control' name='deh_descricao' id='deh_descricao' ></textarea>
									<small>Máximo de 180 caracteres</small>
								</div>
							<div class='form-group'>
								<label>Link:</label>
								<input class='form-control' type='text' name='deh_link' id='deh_link' value=''  maxlength = '255'>
							</div>
							<div class='form-group'>
								<label>Ordem:</label>
								<input class='form-control' type='text' name='deh_ordem' id='deh_ordem' value=''  maxlength = '255'>
							</div>
							<div class='form-group'>
								<label>Ativo:</label>
								<select class='form-control' name='deh_ativo' id='deh_ativo' required>
									<option value='1'>Sim</option>
									<option value='0'>Não</option>
								</select>
							</div>
							<div class='form-group'>
								<label>Imagem desktop:</label>
								<input type='hidden' name='deh_imagem' id='deh_imagem' value='0'>
								<input type='file' id='deh_imagem_novo' name='deh_imagem_novo'>
								<br>
								<div id='view_deh_imagem'></div>
							</div>
							<div class='form-group'>
								<label>Imagem mobile:</label>
								<input type='hidden' name='deh_imagem_mobile' id='deh_imagem_mobile' value='0'>
								<input type='file' id='deh_imagem_mobile_novo' name='deh_imagem_mobile_novo'>
								<br>
								<div id='view_deh_imagem_mobile'></div>
							</div>
							<div>
								<button class='btn btn-w-m btn-default pull-left' type='button' data-dismiss='modal'><strong>Cancelar</strong></button>
								<button class='btn btn-w-m btn-primary pull-right' type='submit' id='salvarNovo'><strong>Salvar</strong></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal editar -->
	<div id="modal-form-editar" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<h3 class="m-t-none m-b">Editar {{ pagina }}</h3>

						<div class="hr-line-dashed"></div>

						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>

						<form role='form' id='form-editar' enctype='multipart/form-data'>
							<input type='hidden' name='DestaquesHomeID' id='DestaquesHomeID' value='0'>
							<div class='form-group'>
								<label>Nome:</label>
								<input class='form-control' type='text' name='deh_nome' id='deh_nome' value='' required maxlength = '45'>
								<small>Máximo de 45 caracteres</small>
							</div>
							<div class='form-group'>
									<label>Descrição:</label>
									<textarea class='form-control' name='deh_descricao' id='deh_descricao' ></textarea>
									<small>Máximo de 180 caracteres</small>
								</div>
							<div class='form-group'>
								<label>Link:</label>
								<input class='form-control' type='text' name='deh_link' id='deh_link' value=''  maxlength = '255'>
							</div>
							<div class='form-group'>
								<label>Ordem:</label>
								<input class='form-control' type='text' name='deh_ordem' id='deh_ordem' value=''  maxlength = '255'>
							</div>
							<div class='form-group'>
								<label>Ativo:</label>
								<select class='form-control' name='deh_ativo' id='deh_ativo' required>
									<option value='1'>Sim</option>
									<option value='0'>Não</option>
								</select>
							</div>
							<div class='form-group'>
								<label>Imagem desktop:</label>
								<input type='hidden' name='deh_imagem' id='deh_imagem' value='0'>
								<input type='file' id='deh_imagem_editar' name='deh_imagem_editar'>
								<br>
								<div id='view_deh_imagem'></div>
							</div>
							<div class='form-group'>
								<label>Imagem mobile:</label>
								<input type='hidden' name='deh_imagem_mobile' id='deh_imagem_mobile' value='0'>
								<input type='file' id='deh_imagem_mobile_editar' name='deh_imagem_mobile_editar'>
								<br>
								<div id='view_deh_imagem_mobile'></div>
							</div>
							<div>
								<button class='btn btn-w-m btn-default pull-left' type='button' data-dismiss='modal'><strong>Cancelar</strong></button>
								<button class='btn btn-w-m btn-primary pull-right' type='submit' id='salvarEditar'><strong>Salvar</strong></button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal Excluir -->
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-body">

						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>

						<div class="row">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="m-t-none m-b">Excluir {{ pagina }}</h3>

							<div class="hr-line-dashed"></div>
							<p>Confirma a exclus&atilde;o do registro? Essa opera&ccedil;&atilde;o n&atilde;o pode ser desfeita.</p>
							<div class="hr-line-dashed"></div>

							<div id="idExclusao" style="display:none;"></div>

							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-danger pull-right" id="btnExcluir" onclick="deleteDados($('#idExclusao').text());">Excluir</button>
						</div>

					</div>
				</div>
			</div>
		</div>
    </div>


	{% include '/admin/base/footer.html.twig' %}
	{% include '/admin/base/funcoes.html.twig' %}

	<!-- UPLOADIFY -->
<script src='{{ assetUri }}/web/js/plugins/uploadify/jquery.uploadifive.js'></script>
<link href='{{ assetUri }}/web/css/plugins/uploadify/uploadifive.css' rel='stylesheet'>
<script type='text/javascript'>
	$(function() {
		// Novo
		$('#deh_imagem_novo').uploadifive({
				'auto'             : true,
				'queueSizeLimit'   : 1,
				'multi'        	: false,
				'removeCompleted'  : true,
				'fileDesc': 'Arquivos JPG ou MP4',
				'fileType': ["image\/jpg","image\/jpeg"],
				'buttonText'   	: 'Selecionar imagem',
				'uploadScript'     : '/service/admin/uploads',
				'onUploadComplete' : function(file, data) {
					var dados = $.parseJSON(data);
					if(dados.cod == 200) {
						$('#form').find('#deh_imagem').val(dados.ArquivoID);
						if(dados.arq_extensao == 'mp4') {
							$('#form').find('#view_deh_imagem').html('<video src=' + dados.arq_nome + ' controls autoplay></video>');
						} else {
							$('#form').find('#view_deh_imagem').html('<img src=' + dados.arq_nome + ' width="30%">');
						}
					} else {
						alert('Falha no envio da imagem.');
					}
				}
				});
		// Novo
		$('#deh_imagem_mobile_novo').uploadifive({
				'auto'             : true,
				'queueSizeLimit'   : 1,
				'multi'        	: false,
				'removeCompleted'  : true,
				'fileDesc': 'Arquivos JPG ou MP4',
				'fileType': ["image\/jpg","image\/jpeg"],
				'buttonText'   	: 'Selecionar imagem',
				'uploadScript'     : '/service/admin/uploads',
				'onUploadComplete' : function(file, data) {
					var dados = $.parseJSON(data);
					if(dados.cod == 200) {
						$('#form').find('#deh_imagem_mobile').val(dados.ArquivoID);
						if(dados.arq_extensao == 'mp4') {
							$('#form').find('#view_deh_imagem_mobile').html('<video src=' + dados.arq_nome + ' controls autoplay></video>');
						} else {
							$('#form').find('#view_deh_imagem_mobile').html('<img src=' + dados.arq_nome + ' width="30%">');
						}
					} else {
						alert('Falha no envio da imagem.');
					}
				}
				});
		// Editar
		$('#deh_imagem_editar').uploadifive({
				'auto'             : true,
				'queueSizeLimit'   : 1,
				'multi'        	: false,
				'removeCompleted'  : true,
				'fileDesc': 'Arquivos JPG ou MP4',
				'fileType': ["image\/jpg","image\/jpeg"],
				'buttonText'   	: 'Selecionar imagem',
				'uploadScript'     : '/service/admin/uploads',
				'onUploadComplete' : function(file, data) {
				var dados = $.parseJSON(data);
				if(dados.cod == 200) {
					$('#form-editar').find('#deh_imagem').val(dados.ArquivoID);
					if(dados.arq_extensao == 'mp4') {
						$('#form-editar').find('#view_deh_imagem').html('<video src=' + dados.arq_nome + ' controls autoplay></video>');
					} else {
						$('#form-editar').find('#view_deh_imagem').html('<img src=' + dados.arq_nome + ' width="30%">');
					}
				} else {
					alert('Falha no envio da imagem.');
				}
			}
		});

		$('#deh_imagem_mobile_editar').uploadifive({
				'auto'             : true,
				'queueSizeLimit'   : 1,
				'multi'        	: false,
				'removeCompleted'  : true,
				'fileDesc': 'Arquivos JPG ou MP4',
				'fileType': ["image\/jpg","image\/jpeg"],
				'buttonText'   	: 'Selecionar imagem',
				'uploadScript'     : '/service/admin/uploads',
				'onUploadComplete' : function(file, data) {
				var dados = $.parseJSON(data);
				if(dados.cod == 200) {
					$('#form-editar').find('#deh_imagem_mobile').val(dados.ArquivoID);
					if(dados.arq_extensao == 'mp4') {
						$('#form-editar').find('#view_deh_imagem_mobile').html('<video src=' + dados.arq_nome + ' controls autoplay></video>');
					} else {
						$('#form-editar').find('#view_deh_imagem_mobile').html('<img src=' + dados.arq_nome + ' width="30%">');
					}
				} else {
					alert('Falha no envio da imagem.');
				}
			}
		});
	});
</script>
