{% include '/admin/base/header.html.twig' %}
		
		<div class="row  border-bottom white-bg dashboard-header">
			<div class="col-sm-6">
				<h2>Talenses</h2>
				<small>People that matter</small>
			</div>
		</div>
		
{% include '/admin/base/footer.html.twig' %}