{% include '/admin/base/header.html.twig' %}

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>{{ pagina }}</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/service/admin/home">Home</a>
				</li>
				<li class="active">
					<strong>{{ pagina }}</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<br>
        <div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="text-right">
						<a data-toggle="modal" class="btn btn-primary" href="#modal-form">Cadastrar</a>
					</div>
					<table class="table table-striped table-bordered table-hover" id="editable">

						<thead>
							<tr>

							  {% for coluna in colunas %}
							  <th>{{ coluna }}</th>
							  {% endfor %}
							  
                              <th>Ações</th>
							
							</tr>
						</thead>
						
						<tbody>
						
							{% for linha in linhas %}
							<tr>
								
								{% for coluna in colunas %}
									{% if coluna == 'Ativo' %}
										{% if attribute(linha, coluna) == '1' %}<td><span class="label label-success">Ativo</span></td>{% endif %}
										{% if attribute(linha, coluna) == '0' or attribute(linha, coluna) is empty %}<td><span class="label label-important">Inativo</span></td>{% endif %}
									{% else %}
										<td>{% if attribute(linha, coluna)|length > 30 %}{{ attribute(linha, coluna)[:30] }}...{% else %}{{ attribute(linha, coluna) }}{% endif %}</td>
									{% endif %}
								{% endfor %}
								
								<td class="center">
									<a class="btn btn-info" data-toggle="modal" href="#modal-form-editar" alt="Editar" title="Editar" onclick="getDados({{linha.ID}});">
										<i class="fa fa-edit"></i>
									</a>
									<a class="btn btn-danger" data-id="{{ linha.ID }}" data-toggle="modal" href="#confirmDelete" id="excluir" alt="Excluir" title="Excluir">
										<i class="fa fa-trash-o"></i>
									</a>
								</td> 
							</tr>
							
							{% endfor %}
						
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>	

	
	<!-- Modal novo -->
	<div id="modal-form" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<h3 class="m-t-none m-b">Cadastrar {{ pagina }}</h3>

						<div class="hr-line-dashed"></div>
						
						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>
						
						<form role="form" id="form">
							<div class="form-group">
								<label>Nome:</label>
								<input type="text" name="usu_nome" placeholder="" value="" class="form-control" required>
							</div>
							<div class="form-group">
								<label>Email:</label>
								<input type="email" name="usu_email" placeholder="" value="" class="form-control" required>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label>Senha:</label>
								<input type="password" name="usu_senha" placeholder="" value="" class="form-control" required>
							</div>
							<div class="form-group">
								<label>Repita a senha:</label>
								<input type="password" name="usu_repita_senha" placeholder="" value="" class="form-control" required>
							</div>
							<div class="form-group">
								<label>N&iacute;vel de acesso:</label>
								
								<select name="usu_grupos" id="usu_grupos" class="form-control m-b">
									{% for grupo in grupos %}
										<option value="{{ grupo.UsuarioGrupoID }}">{{ grupo.gru_nome }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Ativo:</label>
								<input type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;">
								<select name="usu_ativo" class="form-control m-b">
									<option value="1">Sim</option>
									<option value="0">N&atilde;o</option>
								</select>
							</div>	
							<div class="hr-line-dashed"></div>
							<div>
								<button class="btn btn-w-m btn-default pull-left" type="button" data-dismiss="modal"><strong>Cancelar</strong></button>
								<button class="btn btn-w-m btn-primary pull-right" type="submit" id="salvarNovo"><strong>Salvar</strong></button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>	
	

	<!-- Modal editar -->
	<div id="modal-form-editar" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<h3 class="m-t-none m-b">Cadastrar {{ pagina }}</h3>

						<div class="hr-line-dashed"></div>
						
						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>
						
						<form role="form" id="form-editar">
							<input type="hidden" name="UsuarioID" id="UsuarioID" value="">
						
							<div class="form-group">
								<label>Nome:</label>
								<input type="text" name="usu_nome" id="usu_nome" placeholder="" value="" class="form-control" required>
							</div>
							<div class="form-group">
								<label>Email:</label>
								<input type="email" name="usu_email" id="usu_email" placeholder="" value="" class="form-control" required>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label>Senha:</label>
								<input type="password" name="usu_senha" placeholder="" value="" class="form-control">
							</div>
							<div class="form-group">
								<label>Repita a senha:</label>
								<input type="password" name="usu_repita_senha" placeholder="" value="" class="form-control">
							</div>
							<div class="form-group">
								<label>N&iacute;vel de acesso:</label>
								<select name="usu_grupos" id="usu_grupos" class="form-control m-b">
									{% for grupo in grupos %}
										<option value="{{ grupo.UsuarioGrupoID }}">{{ grupo.gru_nome }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="form-group">
								<label>Ativo:</label>
								<select name="usu_ativo" id="usu_ativo" class="form-control m-b">
									<option value="1">Sim</option>
									<option value="0">N&atilde;o</option>
								</select>
							</div>	
							<div class="hr-line-dashed"></div>
							<div>
								<button class="btn btn-w-m btn-default pull-left" type="button" data-dismiss="modal"><strong>Cancelar</strong></button>
								<button class="btn btn-w-m btn-primary pull-right" type="submit" id="salvarEditar"><strong>Salvar</strong></button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>		
	
	
	<!-- Modal Excluir -->
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-body">

						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>
			
						<div class="row">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>				
							<h3 class="m-t-none m-b">Excluir {{ pagina }}</h3>
				
							<div class="hr-line-dashed"></div>	
							<p>Confirma a exclus&atilde;o do registro? Essa opera&ccedil;&atilde;o n&atilde;o pode ser desfeita.</p>
							<div class="hr-line-dashed"></div>	
					
							<div id="idExclusao" style="display:none;"></div>
							
							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-danger pull-right" id="btnExcluir" onclick="deleteDados($('#idExclusao').text());">Excluir</button>
						</div>

					</div>
				</div>
			</div>
		</div>
    </div>
	
{% include '/admin/base/footer.html.twig' %}
{% include '/admin/base/funcoes.html.twig' %}