<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Administração - {% block titulo %}{% endblock titulo %} - Página não encontrada :(</title>
    <meta name="description" content="{% block descricao %}{% endblock descricao %}">
    <meta name="author" content="Inkuba">
    <meta name="keyword" content="404">
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    {% block stylesheets %}
    <!-- start: CSS -->
    <link href="{{ assetUri }}/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/css/style.min.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/css/retina.min.css" rel="stylesheet">
    <!-- end: CSS -->
    {% endblock stylesheets %}

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="{{ assetUri }}/web/js/respond.min.js"></script>
        <link href="{{ assetUri }}/web/css/ie.css" rel="stylesheet">
    <![endif]-->

    <!--[if IE 9]>
        <link id="ie9style" href="{{ assetUri }}/web/css/ie9.css" rel="stylesheet">
    <![endif]-->

    <!-- start: Favicon and Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ assetUri }}/web/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ assetUri }}/web/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ assetUri }}/web/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ assetUri }}/web/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ assetUri }}/web/ico/favicon.png">
    <!-- end: Favicon and Touch Icons -->

    <style type="text/css">body { background: url("{{ assetUri }}/web/img/bg-login.jpg") !important; }
    </style>
</head>
 
<body>
    <div class="middle-box text-center animated fadeInDown">
        <h1>403</h1>
        <h3 class="font-bold">Permiss&atilde;o Negada</h3>

        <div class="error-desc">
            Desculpe mas voc&ecirc; n&atilde;o tem permiss&atilde;o para acessar a p&aacute;gina solicitada.
            <form class="form-inline m-t" role="form">
                <button type="button" class="btn btn-primary" onclick="javascript:history.back();">Voltar</button>
            </form>
        </div>
    </div>
</body>
</html>
