{% include "/admin/base/header.html.twig" %}

    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Not Found</h3>

        <div class="error-desc">
            Desculpe mas a p&aacute;gina que voc&ecirc; procura n&atilde;o existe. Verifique a URL e tente novamente.
            <form class="form-inline m-t" role="form">
                <button type="button" class="btn btn-primary" onclick="javascript:history.back();">Voltar</button>
            </form>
        </div>
    </div>

{% include "/admin/base/footer.html.twig" %}