{% include '/admin/erros/header.html.twig' %}

    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Internal Server Error</h3>
		
        <div class="error-desc">
            O servidor encontrou um erro inesperado e n&atilde;o pode continuar.
			<br/><br/>
			{{ msg }}
			<br/><br/>
            Volte para a Home e tente novamente: <br/><a href="/service/admin/home" class="btn btn-primary m-t">Home</a>
        </div>
    </div>

{% include "/admin/erros/footer.html.twig" %}
