<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin</title>

    <link href="{{ assetUri }}/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{{ assetUri }}/web/css/animate.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">