@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-HeavyItalic.eot');
    src: url('../../../fonts/DINNextCYR-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-HeavyItalic.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-HeavyItalic.woff') format('woff'),
        url('../../../fonts/DINNextCYR-HeavyItalic.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-HeavyItalic.svg#DINNextCYR-HeavyItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-BlackItalic.eot');
    src: url('../../../fonts/DINNextCYR-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-BlackItalic.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-BlackItalic.woff') format('woff'),
        url('../../../fonts/DINNextCYR-BlackItalic.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-BlackItalic.svg#DINNextCYR-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-Black.eot');
    src: url('../../../fonts/DINNextCYR-Black.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-Black.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-Black.woff') format('woff'),
        url('../../../fonts/DINNextCYR-Black.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-Black.svg#DINNextCYR-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-BoldItalic.eot');
    src: url('../../../fonts/DINNextCYR-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-BoldItalic.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-BoldItalic.woff') format('woff'),
        url('../../../fonts/DINNextCYR-BoldItalic.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-BoldItalic.svg#DINNextCYR-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-Heavy.eot');
    src: url('../../../fonts/DINNextCYR-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-Heavy.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-Heavy.woff') format('woff'),
        url('../../../fonts/DINNextCYR-Heavy.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-Heavy.svg#DINNextCYR-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-Bold.eot');
    src: url('../../../fonts/DINNextCYR-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-Bold.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-Bold.woff') format('woff'),
        url('../../../fonts/DINNextCYR-Bold.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-Bold.svg#DINNextCYR-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-Italic.eot');
    src: url('../../../fonts/DINNextCYR-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-Italic.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-Italic.woff') format('woff'),
        url('../../../fonts/DINNextCYR-Italic.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-Italic.svg#DINNextCYR-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-Regular.eot');
    src: url('../../../fonts/DINNextCYR-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-Regular.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-Regular.woff') format('woff'),
        url('../../../fonts/DINNextCYR-Regular.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-Regular.svg#DINNextCYR-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-LightItalic.eot');
    src: url('../../../fonts/DINNextCYR-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-LightItalic.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-LightItalic.woff') format('woff'),
        url('../../../fonts/DINNextCYR-LightItalic.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-LightItalic.svg#DINNextCYR-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-Medium.eot');
    src: url('../../../fonts/DINNextCYR-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-Medium.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-Medium.woff') format('woff'),
        url('../../../fonts/DINNextCYR-Medium.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-Medium.svg#DINNextCYR-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-MediumItalic.eot');
    src: url('../../../fonts/DINNextCYR-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-MediumItalic.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-MediumItalic.woff') format('woff'),
        url('../../../fonts/DINNextCYR-MediumItalic.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-MediumItalic.svg#DINNextCYR-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-Light.eot');
    src: url('../../../fonts/DINNextCYR-Light.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-Light.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-Light.woff') format('woff'),
        url('../../../fonts/DINNextCYR-Light.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-Light.svg#DINNextCYR-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-UltraLightItalic.eot');
    src: url('../../../fonts/DINNextCYR-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-UltraLightItalic.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-UltraLightItalic.woff') format('woff'),
        url('../../../fonts/DINNextCYR-UltraLightItalic.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-UltraLightItalic.svg#DINNextCYR-UltraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'DIN Next CYR';
    src: url('../../../fonts/DINNextCYR-UltraLight.eot');
    src: url('../../../fonts/DINNextCYR-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../../../fonts/DINNextCYR-UltraLight.woff2') format('woff2'),
        url('../../../fonts/DINNextCYR-UltraLight.woff') format('woff'),
        url('../../../fonts/DINNextCYR-UltraLight.ttf') format('truetype'),
        url('../../../fonts/DINNextCYR-UltraLight.svg#DINNextCYR-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
