{% include '/admin/base/header.html.twig' %}

	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-lg-10">
			<h2>{{ pagina }}</h2>
			<ol class="breadcrumb">
				<li>
					<a href="/service/admin/home">Home</a>
				</li>
				<li class="active">
					<strong>{{ pagina }}</strong>
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<br>
        <div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div class="text-right">
						<a data-toggle="modal" class="btn btn-primary" href="#modal-form">Cadastrar</a>
					</div>
					<table class="table table-striped table-bordered table-hover" id="editable">

						<thead>
							<tr>

							  {% for coluna in colunas %}
							  <th>{{ coluna }}</th>
							  {% endfor %}

                              <th>Ações</th>

							</tr>
						</thead>

						<tbody>

							{% for linha in linhas %}
							<tr>

								{% for coluna in colunas %}
									{% if coluna == 'Ativo' %}
										{% if attribute(linha, coluna) == '1' %}<td><span class="label label-success">Ativo</span></td>{% endif %}
										{% if attribute(linha, coluna) == '0' or attribute(linha, coluna) is empty %}<td><span class="label label-important">Inativo</span></td>{% endif %}
									{% else %}
										<td>{% if attribute(linha, coluna)|length > 50 %}{{ attribute(linha, coluna)[:50] }}...{% else %}{{ attribute(linha, coluna) }}{% endif %}</td>
									{% endif %}
								{% endfor %}

								<td class="center">
									<a class="btn btn-info" data-toggle="modal" href="#modal-form-editar" alt="Editar" title="Editar" onclick="getDados({{linha.ID}});">
										<i class="fa fa-edit"></i>
									</a>
									<a class="btn btn-danger" data-id="{{ linha.ID }}" data-toggle="modal" href="#confirmDelete" id="excluir" alt="Excluir" title="Excluir">
										<i class="fa fa-trash-o"></i>
									</a>
								</td>
							</tr>

							{% endfor %}

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal novo -->
	<div id="modal-form" class="modal fade" aria-hidden="true">
		<div class="modal-dialog" style="width: 900px;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<h3 class="m-t-none m-b">Cadastrar {{ pagina }}</h3>

						<div class="hr-line-dashed"></div>

						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>

						<form role='form' id='form' enctype='multipart/form-data'>
							<div class='form-group'>
								<label>Título:</label>
								<input class='form-control' type='text' name='art_titulo' id='art_titulo' value='' required maxlength = '255'>						
							</div>
							<div class='form-group'>
								<label>Texto:</label>
								<textarea class='form-control' name='art_texto' id='art_texto' required></textarea>
							</div>
							<div class="form-group">
								<label>Imagem (1920 x 520):</label>
								<input type="hidden" name="art_imagem" id="art_imagem" value="0">
								<input type="file" id="art_imagem_novo" name="art_imagem_novo">
								<br>
								<div id="view_art_imagem"></div>
							</div>
							<div class="form-group">
								<label>Thumb (295 x 200):</label>
								<input type="hidden" name="art_imagem_thumb" id="art_imagem_thumb" value="0">
								<input type="file" id="art_imagem_novo_thumb" name="art_imagem_novo_thumb">
								<br>
								<div id="view_art_imagem_thumb"></div>
							</div>							
							<div class='form-group'>
								<label>Categoria:</label>
								<select class='form-control' name='art_categoria' id='art_categoria' required>
									<option value='C'>Clipping</option>
									<option value='E'>Executive</option>
									<option value='N'>News</option>
									<option value='V'>Videocasts</option>
								</select>
							</div>							
							<div class='form-group'>
								<label>Autor:</label>
								<ul style="list-style-type: none;height: 210px;">
									{% for autor in autores %}
										<li style="float: left; width: 33%;">
											<input type="checkbox" name="art_EquipeID[]" id="art_EquipeID" value="{{ autor.equ_nome }}">&nbsp;&nbsp;{{ autor.equ_nome }}
										</li>
									{% endfor %}	
								</ul>
							</div>							
							<input type="hidden" name="art_idioma" id="art_idioma" value="pt">
							<!--div class='form-group'>
								<label>Idioma:</label>
								<select class='form-control' name='art_idioma' id='art_idioma' required>
								{% for idioma in idiomas %}
									<option value='{{ idioma.idi_slug }}' {{ (idioma.idi_slug == 'pt') ? selected : '' }}>{{ idioma.idi_nome }}</option>
								{% endfor %}	
								</select>
							</div-->
							<div class='form-group'>
								<label>Tags:</label>
								<input class='form-control' type='text' name='art_tags' id='art_tags' value=''  maxlength = '255'>
							</div>
							<div>
								<button class='btn btn-w-m btn-default pull-left' type='button' data-dismiss='modal'><strong>Cancelar</strong></button>
								<button class='btn btn-w-m btn-primary pull-right' type='submit' id='salvarNovo'><strong>Salvar</strong></button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal editar -->
	<div id="modal-form-editar" class="modal fade" aria-hidden="true">
		<div class="modal-dialog" style="width: 900px;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<h3 class="m-t-none m-b">Cadastrar {{ pagina }}</h3>

						<div class="hr-line-dashed"></div>

						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>

						<form role='form' id='form-editar' enctype='multipart/form-data'>
							<input type='hidden' name='ArtigoID' id='ArtigoID' value='0'>
							<div class='form-group'>
								<label>Título:</label>
								<input class='form-control' type='text' name='art_titulo' id='art_titulo' value='' required maxlength = '255'>						
							</div>
							<div class='form-group'>
								<label>Texto:</label>
								<textarea class='form-control' name='art_texto' id='art_texto' required></textarea>
							</div>
							<div class="form-group">
								<label>Imagem (1920 x 520):</label>
								<input type="hidden" name="art_imagem" id="art_imagem" value="0">
								<input type="file" id="art_imagem_editar" name="art_imagem_editar">
								<br>
								<div id="view_art_imagem"></div>
							</div>
							<div class="form-group">
								<label>Thumb (295 x 200):</label>
								<input type="hidden" name="art_imagem_thumb" id="art_imagem_thumb" value="0">
								<input type="file" id="art_imagem_editar_thumb" name="art_imagem_editar_thumb">
								<br>
								<div id="view_art_imagem_thumb"></div>
							</div>	
							<div class='form-group'>
								<label>Categoria:</label>
								<select class='form-control' name='art_categoria' id='art_categoria' required>
									<option value='C'>Clipping</option>
									<option value='E'>Executive</option>
									<option value='N'>News</option>
									<option value='V'>Videocasts</option>
								</select>
							</div>							
							<div class='form-group'>
								<label>Autor:</label>
								<ul style="list-style-type: none;height: 210px;">
									{% for autor in autores %}
										<li style="float: left; width: 33%;">
											<input type="checkbox" name="art_EquipeID[]" id="art_EquipeID" value="{{ autor.EquipeID }}">&nbsp;&nbsp;{{ autor.equ_nome }}
										</li>
									{% endfor %}	
								</ul>
							</div>
							<input type="hidden" name="art_idioma" id="art_idioma" value="pt">							
							<!--div class='form-group'>
								<label>Idioma:</label>
								<select class='form-control' name='art_idioma' id='art_idioma' required>
								{% for idioma in idiomas %}
									<option value='{{ idioma.idi_slug }}' {{ (idioma.idi_slug == 'pt') ? selected : '' }}>{{ idioma.idi_nome }}</option>
								{% endfor %}	
								</select>
							</div-->
							<div class='form-group'>
								<label>Tags:</label>
								<input class='form-control' type='text' name='art_tags' id='art_tags' value=''  maxlength = '255'>
							</div>
							<div>
								<button class='btn btn-w-m btn-default pull-left' type='button' data-dismiss='modal'><strong>Cancelar</strong></button>
								<button class='btn btn-w-m btn-primary pull-right' type='submit' id='salvarEditar'><strong>Salvar</strong></button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal Excluir -->
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-body">

						<div class="alert alert-warning" style="display: none;"></div>
						<div class="alert alert-info" style="display: none;"></div>
						<div class="alert alert-danger" style="display: none;"></div>
						<div class="alert alert-success" style="display: none;"></div>

						<div class="row">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3 class="m-t-none m-b">Excluir {{ pagina }}</h3>

							<div class="hr-line-dashed"></div>
							<p>Confirma a exclus&atilde;o do registro? Essa opera&ccedil;&atilde;o n&atilde;o pode ser desfeita.</p>
							<div class="hr-line-dashed"></div>

							<div id="idExclusao" style="display:none;"></div>

							<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
							<button type="button" class="btn btn-danger pull-right" id="btnExcluir" onclick="deleteDados($('#idExclusao').text());">Excluir</button>
						</div>

					</div>
				</div>
			</div>
		</div>
    </div>

	
	{% include '/admin/base/footer.html.twig' %}
	{% include '/admin/base/funcoes.html.twig' %}

	<script src="/service/templates/admin/ckeditor/ckeditor.js"></script>
	<script src="/service/templates/admin/ckeditor/adapters/jquery.js"></script>
	
	<script src="/service/templates/admin/ckeditor/ckeditor.js"></script>
	<script src="/service/templates/admin/ckeditor/adapters/jquery.js"></script>

	<!-- UPLOADIFY -->
    <script src="/service/web/js/plugins/uploadify/jquery.uploadifive.js"></script>
	<link href="/service/web/css/plugins/uploadify/uploadifive.css" rel="stylesheet">
	
	<script>
		$(document).ready(function() {
			var config = {
				toolbar:
				[
					['Bold', 'Italic', 'Underline', '-', 'NumberedList', 'BulletedList', '-', 'Undo', 'Redo', '-', 'SelectAll', '-', 'PasteFromWord'],['FontSize'],
					['UIColor'], ['Image', 'Youtube'], ['Link'], ['Table'], ['Maximize']
				]
			};
			$('textarea#art_texto').ckeditor(config);
			
			// Novo
			$('#art_imagem_novo').uploadifive({
				'auto'             : true,
				'queueSizeLimit'   : 1,
				'multi'        	   : false,
				'removeCompleted'  : true,
				'buttonText'   	   : 'Selecionar imagem',
				'uploadScript'     : '/service/admin/uploads',
				'onUploadComplete' : function(file, data) {
										var dados = $.parseJSON(data);
										if(dados.cod == 200) {
											$("#form").find("#art_imagem").val(dados.ArquivoID); 
											$("#form").find("#view_art_imagem").html("<img src='" + dados.arq_nome + "' width='280'>");
											
										} else {
											alert('Falha no envio da imagem.');
										}

									 }
			});
			
			// Editar
			$('#art_imagem_editar').uploadifive({
				'auto'             : true,
				'queueSizeLimit'   : 1,
				'multi'        	   : false,
				'removeCompleted'  : true,
				'buttonText'   	   : 'Selecionar imagem',
				'uploadScript'     : '/service/admin/uploads',
				'onUploadComplete' : function(file, data) { 
										var dados = $.parseJSON(data);
										if(dados.cod == 200) {
											$("#form-editar").find("#art_imagem").val(dados.ArquivoID); 
											$("#form-editar").find("#view_art_imagem").html("<img src='" + dados.arq_nome + "' width='280'>");
										} else {
											alert('Falha no envio da imagem.');
										}

									 }
			});

			// Novo thumb
			$('#art_imagem_novo_thumb').uploadifive({
				'auto'             : true,
				'queueSizeLimit'   : 1,
				'multi'        	   : false,
				'removeCompleted'  : true,
				'buttonText'   	   : 'Selecionar imagem',
				'uploadScript'     : '/service/admin/uploads',
				'onUploadComplete' : function(file, data) {
										var dados = $.parseJSON(data);
										if(dados.cod == 200) {
											$("#form").find("#art_imagem_thumb").val(dados.ArquivoID); 
											$("#form").find("#view_art_imagem_thumb").html("<img src='" + dados.arq_nome + "' width='295'>");
											
										} else {
											alert('Falha no envio da imagem.');
										}

									 }
			});
			
			// Editar thumb
			$('#art_imagem_editar_thumb').uploadifive({
				'auto'             : true,
				'queueSizeLimit'   : 1,
				'multi'        	   : false,
				'removeCompleted'  : true,
				'buttonText'   	   : 'Selecionar imagem',
				'uploadScript'     : '/service/admin/uploads',
				'onUploadComplete' : function(file, data) { 
										var dados = $.parseJSON(data);
										if(dados.cod == 200) {
											$("#form-editar").find("#art_imagem_thumb").val(dados.ArquivoID); 
											$("#form-editar").find("#view_art_imagem_thumb").html("<img src='" + dados.arq_nome + "' width='295'>");
										} else {
											alert('Falha no envio da imagem.');
										}

									 }
			});			
		});	
	</script>
