<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contato</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <style type="text/css">
    :focus{outline:none;}
  </style>

</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <table border="0" cellpadding="0" cellspacing="0" align="center" width="520px">
    <tr>
      <td><a href="http://talenses.com"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img1.jpg" alt="" width="400" height="87"></a></td>
      <td><a href="https://www.linkedin.com/company/talenses"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img2.jpg" alt="" width="36" height="87"></a></td>
      <td><a href="https://twitter.com/Talenses"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img3.jpg" alt="" width="35" height="87"></a></td>
      <td><a href="https://www.facebook.com/Talenses"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img4.jpg" alt="" width="35" height="87"></a></td>
      <td><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img5.jpg" alt="" width="14" height="87"></td>
    </tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img6.jpg" alt="" width="520" height="136"></td></tr>
    <tr>
      <td colspan="5" style="background-color: white; color:#696969;font-size: 10px;font-family: tahoma,arial;text-align: left;" width="520">
        <span style="background-color: white; color:#505050;font-size: 20px; font-family: tahoma,arial;text-align: left;"><b>Contato:</b></span>

        <p>&nbsp;&nbsp;{{ html|raw }}</p>

      </td>
    </tr>
    <tr><td colspan="5"><img alt="Talenses" style="border: 0; display: block;" src="{{ url }}/img7.jpg" alt="" width="520" height="64"></td></tr>
  </table>

</body>
</html>
