@import "../helpers/variables";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  max-width: 100%;
  border: 2px solid #dedede;
  overflow: hidden;

  img {
    display: block
  }

  .selo {
    position: absolute;
    display: block;
    width: 95px;
    right: 0;
    top: 112px;
    z-index: 3;
  }

  .wrap-thumb {
    padding: 15px 30px;
  }

  .thumb {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 135px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    z-index: 1;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      display: none;
    }
  }

  .store-name {
    margin: 0px 5px 10px;
    text-align: center;
    height: 100%;
    color: #3d3d3d;
    font: 24px 'DIN Next CYR', sans-serif;
    font-weight: 500;
  }

  .btn-info {
    position: relative;
    background-color: #cd1a30;
    color: white;
    font: 22px 'DIN Next CYR', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    padding: 10px 0 8px;
    margin: 10px 5px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .3s;

    &:hover {
      background-color: #333;
    }
  }

  &-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 650px;

    .selo {
      position: absolute;
      display: block;
      width: 150px;
      right: 0;
      top: 227px;
      z-index: 3;
    }

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      padding: 10px;
      max-width: 440px;

      .selo {
        width: 100px;
        right: 10px;;
        top: 180px;
      }
    }

    img {
      display: block
    }

    .thumb {
      position: relative;
      display: flex;
      align-self: flex-end;
      width: 100%;
      max-width: 600px;
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: black;
      z-index: 1;

      @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
        max-width: 440px;
        height: 260px;
      }
    }

    .description {
      position: relative;
      margin: -17px 0 0 -30px;
      max-width: 650px;
      background-color: #cd1a30;
      color: white;
      font: 14px 'DIN Next CYR', sans-serif;
      font-weight: 700;
      border-bottom-right-radius: 50px;
      z-index: 2;

      @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
        margin: 0;
        max-width: 100%;
      }

      h3 {
        display: block;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      h4 {
        font: 14px 'DIN Next CYR', sans-serif;
        font-weight: bold;
      }

      p {
        line-height: 18px;
        font: 14px 'DIN Next CYR', sans-serif;
      }

      .btn-store {
        display: flex;
        flex-direction: row;
        padding: 0 10px;
        height: 40px;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        border: 2px solid white;
        color: white;
        font: 13px 'DIN Next CYR', sans-serif;
        font-weight: bold;
        text-transform: uppercase;

        @media screen and ( $breakpointPhone ) {
          font-size: 12px;
        }

        &.text-large {
          font-size: 16px;

          @media screen and ( $breakpointPhone ) {
            font-size: 14px;
          }
        }

        img {
          display: block;
        }

        span {
          position: relative;
          top: 1px;
          text-align: center;
        }
      }
    }
  }
}
