@import "../helpers/variables";

#desktop-menu {
  .list {
    display: flex;
    flex-direction: row;

    &.right {
      margin-right: 60px;
      justify-content: flex-end;

      @media screen and ( max-width: 1130px ) {
        margin-right: 45px;
      }
    }

    &.left {
      margin-left: 60px;

      @media screen and ( max-width: 1130px ) {
        margin-left: 45px;
      }
    }
  }

  a {
    display: block;
    padding: 15px;
    color: #f2ddde;
    font-family: 'DIN Next CYR', sans-serif;

    @media screen and ( max-width: 1130px ) {
      padding: 10px;
    }

    &:hover {
      color: white;
      font-weight: bold;
    }
  }
}
