@import "../helpers/variables";

#destaque {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 144px;
  background-color: #cd1a30;
  background-image: url( ../../../images/bg-1.jpg );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  img {
    display: block;
    width: 581px;
    margin: 0 auto;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      padding: 0 0 244px;
    }

    @media screen and ( max-width: 640px ) {
      padding: 0 0 115px;
      width: 400px;
    }

    @media screen and ( $breakpointPhone ) {
      padding: 0 0 115px;
      width: 320px;
    }
  }

  &.fix {
    padding: 80px 0 0;

    img {
      padding: 0 0 60px;
    }
  }
}
