@import "../helpers/variables";

#filter {
  position: relative;
  margin-bottom: 24px;
  padding: 6px 0;
  background-color: white;
  z-index: 9;

  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 28px 'DIN Next CYR', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #3d3d3d;
    height: 100%;
  }

  strong {
    font: 21px 'DIN Next CYR', sans-serif;
    font-weight: 500;
  }

  .btn-location {
    display: table;
    float: right;
    padding: 10px;
    border: 3px solid #1e1e1e;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    transition-duration: .3s;

    svg {
      position: relative;
      display: block;
      width: 23px;
      height: 23px;
    }

    path {
      transition-duration: .3s;
    }

    .fill {
      fill: white;
    }

    .stroke {
      fill: #1e1e1e;
    }

    &:hover {
      background-color: #ce1a30;
      border: 3px solid #ce1a30;

      .fill {
        fill: white;
      }

      .stroke {
        fill: white;
      }

      svg {
        animation: jello;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }

    &.activated {

    }

    &.activated {
      background-color: white;
      border: 3px solid #ce1a30;

      .fill {
        fill: #ce1a30;
      }

      .stroke {
        fill: #ce1a30;
      }

      svg {
        animation: none;
      }
    }
  }
}
