@import "../helpers/variables";

#footer {
  background-color: #8f0000;

  .lnk-instagram {
    position: relative;
    margin: 0 auto;
    width: 90vw;

    a {
      padding: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: white;
      font: 18px 'DIN Next CYR', sans-serif;

      &:hover {
        color: #e12a26;
      }

      img {
        margin-right: 20px;
      }

      span {
        font-weight: bold;
      }
    }
  }

  .links {
    padding: 40px 20px;
    background-color: #cc0202;

    h2 {
      font: 20px 'DIN Next CYR', sans-serif;
      color: white;
      text-align: center;

      strong {
        font: 18px 'DIN Next CYR', sans-serif;
      }
    }

    a {
      display: block;
      text-align: center;
      font: 26px 'DIN Next CYR', sans-serif;
      color: white;

      @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
        font-size: 18px;
      }

      &:hover {
        color: black;
      }
    }
  }

  .logo-apoio {
    display: block;
    margin: 0 auto;
    padding: 30px 20px;
    width: 300px;
  }

  .quick-text {
    .container-text {
      max-width: 1024px;

      .center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      img {
        display: block;
        width: 16px;
      }

    }

    background-color: black;
    color: rgba( 255, 255, 255, .4 );
    font: 12px "verdana";
  }
}
