.field {
  display: block;
  float: left;
  width: 100%;
  overflow: hidden;

  @media screen and ( max-width: 760px ) {
    margin-right: 0;
    margin: 5px 0;
    float: none;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #212120;
    font: 14px 'DIN Next CYR', sans-serif;

    &.lbl {
      margin-left: 15px;
    }
  }

  input[type=text],
  input[type=number],
  input[type=email],
  select {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    color: #212120;
    font: 22px 'DIN Next CYR', sans-serif;
    text-align: center;
    border: 1px solid white;
    padding: 0 15px;
    height: 45px;
    background-color: white;
    text-overflow: ellipsis;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus
    &:-webkit-autofill,
    &:-webkit-autofill:hover
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border: 2px solid #acacac;
      -webkit-text-fill-color: #212120;
      -webkit-box-shadow: inset 0 0 0px 9999px white, 0 0 8px
      rgba(102, 175, 233, 0.6);
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  input[type=text]::placeholder,
  input[type=number]::placeholder,
  input[type=email]::placeholder {
    color: #212120;
    opacity: 1;
  }

  input[type=text]:-ms-input-placeholder,
  input[type=number]:-ms-input-placeholder,
  input[type=email]:-ms-input-placeholder {
    color: #212120;
  }

  input[type=text]::-ms-input-placeholder,
  input[type=number]::-ms-input-placeholder,
  input[type=email]::-ms-input-placeholder {
    color: #212120;
  }

  .box-filter {
    display: flex;
    flex-direction: row;
  }

  .box-wrapper {
    position: relative;
  }

  .arrows {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    top: 0;
    right: 0;
    width: 40px;
    height: 45px;

    .icon {
      width: 12px;
    }

    .trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;

      &:hover {
        .path-up,
        .path-down {
          fill: #e73b6c;
        }
      }
    }

  }
}

.field-text {
  &-duplex {
    .box-fields {
      display: flex;
      flex-direction: row;
    }

    input {
      text-align: center;
      margin-left: 8px;

      &:first-child {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}

.field-number {
  input {
    padding: 0 35px 0 15px;
  }

  .arrows {
    .up {
      padding-top: 3px;
    }

    .down {
      padding-bottom: 9px;
    }

    .trigger {
      height: 50%;
    }
  }
}

.field-select {
  select {
    padding: 0 35px 0 15px;

    &:hover {
      & + {
        .arrows {
          .trigger {
            .path-down {
              fill: #e73b6c;
            }
          }
        }
      }
    }
  }

  .arrows {
    z-index: -1;
  }
}

.field-checkbox {
  input {
    position: absolute;
    opacity: 0;

    &:checked + label {
      .skin-path {
        fill: #e73b6c;
      }
    }
  }

  .box-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      min-width: 110px;
      height: 45px;
      color: white;
      font: 18px 'DIN Next CYR', sans-serif;
      cursor: pointer;

      .skin {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 45px;
        z-index: -1;
      }

      .skin-path {
        transition-duration: .3s;
      }

      &:hover {
        .skin-path {
        }
      }
    }
  }

  .box-wrapper {
    margin-right: 16px;
  }
}

.field-radio {
  input {
    position: absolute;
    opacity: 0;

    &:checked + label {
      .skin-path {
        fill: #a9a9a9;
      }
    }

    &#type-sale {
      &:checked + label {
        .skin-path {
          fill: #6dd0ee;
        }
      }
    }

    &#type-sale-dadding {
      &:checked + label {
        .skin-path {
          fill: #e73b6c;
        }
      }
    }

  }

  .box-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      min-width: 110px;
      height: 45px;
      color: white;
      font: 18px 'DIN Next CYR', sans-serif;
      cursor: pointer;

      .skin {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 45px;
        z-index: -1;
      }

      .skin-path {
        transition-duration: .3s;
      }
    }
  }

  .box-wrapper {
    margin-right: 16px;
  }
}

.field-cancel,
.field-submit {
  min-width: 100px;
  max-width: 150px;
  margin-right: 0;
  float: right;

  label {
    color: transparent;
  }

  .box-wrapper,
  input[type=submit],
  .cancel {
    -webkit-appearance: none;
    appearance: none;
     display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #212120;
    font: 16px 'DIN Next CYR', sans-serif;
    padding: 0 15px;
    height: 45px;
    text-overflow: ellipsis;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: #e73b6c;
    }
  }

  @media screen and ( max-width: 760px ) {
    margin-top: 10px;
    width: 100%;
    max-width: 100%;

    label {
      display: none;
    }
  }
}
