@import "../helpers/variables";

#gallery {
  position: relative;
  width: 100%;
  height: 26vw;
  background: black;
  z-index: 9999;

  @media  screen and ( $breakpointTablet ) {
    height: 120vw;
  }

  @media  screen and ( max-width: 840px ) {
    height: 120vw;
  }

  @media screen and ( max-width: 700px ) {
    height: 120vw;
  }

  @media screen and ( max-width: 600px ) {
    height: 120vw;
  }

  @media screen and ( max-width: 550px ) {
    height: 120vw;
  }

  @media screen and ( max-width: 500px ) {
    height: 120vw;
  }

  @media screen and ( max-width: 450px ) {
    height: 120vw;
  }

  .box-content {
    width: 100%;
    height: 100%;
  }

  .img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      font-size: 18px;
    }
  }

  .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    color: white;
    font: 15px 'robotomedium';
    line-height: 28px;
    text-align: center;
    width: 100%;
    height: 100%;
    user-select: none;
    display: none;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;;
      height: 4px;
      left: 0;
      bottom: 0;
      background-color: rgba( #cd1a30, .2 );
      z-index: 0;
    }

    .live-line {
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 4px;
      background-color: #cd1a30;
      animation: fadeOut 0.5s linear 1 forwards;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    &.activated {
      display: block;
      animation: fadeIn 0.5s linear 1 forwards;

      .live-line {
        animation: live-line 5s linear 1 forwards;
      }
    }
  }

  .icon-pause {
    position: absolute;
    width: 20px;
    left: 8px;
    bottom: 8px;
    opacity: 0;

    polygon {
      fill: transparent;
    }

    path {
      fill: #cd1a30;
    }
  }

  &.paused {
    .icon-pause {
      animation: fadeIn 0.3s linear 1 forwards;
    }

    .live-line {
      animation-play-state: paused!important;
    }
  }

  .bullets {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(0, -50%);

    @media screen and ( $breakpointPhone ) {
      left: 0;
      width: 100%;
      justify-content: center;
    }

    .bullet {
      margin-right: 15px;
      width: 13px;
      height: 13px;
      border: 1px solid #cd1a30;
      background-color: #cd1a30;
      border-radius: 50%;
      cursor: pointer;

      &.activated {
        position: relative;
        border-color: #cd1a30;
        background-color: rgba( white, 0 );
        box-shadow: 0 0 2px 1px rgba( black, .1 );
        cursor: auto;
      }

      @media screen and ( $breakpointPhone ) {
        margin: 0 8px;
      }
    }
  }
}

@keyframes live-line {
  0%   { width: 100%; }
  100% { width: 0%; }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
