@import "../helpers/variables";

#header {
  position: absolute;
  // position: fixed;
  top: 0;
  width: auto;
  padding: 25px 0;
  z-index: 99999;

  /*
  @media screen and ( $breakpointDesktop ) {
    position: absolute;
    overflow: hidden;
    padding: 0 0 10px;
  }
  */

  .red-line {
    position: absolute;
    top: 0;
    right: 100px;
    // height: 23px;
    height: 60px;
    width: 100%;
    // background-color: #cd1a30;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      height: 60px;
    }

    &:before {
      content: "";
      position: absolute;
      // right: 0;
      height: 60px;
      bottom: 0;
      // right: -50px;
      right: -100px;
      // width: 100px;
      width: 200px;
      // height: 100px;
      height: 150px;
      // background-color: #cd1a30;
      border-radius: 50%;

      @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
        height: 60px;
        right: -100px;
        width: 200px;
        height: 150px;
      }

    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      // height: 22px;
      height: 60px;
      // width: 100px;
      width: 200px;
      // background-color: #cd1a30;

      @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
        width: 200px;
        height: 60px;
      }
    }
  }

  .mask-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none;
  }

  .box-header {
    position: relative;
    max-width: 1920px;
    z-index: 999;
  }

  .box-logo {
    position: absolute;
    left: 50%;
    width: 119px;
    height: 73px;
    transform: translate(-50%, 10px);

    @media screen and ( max-width: 1130px ) {
      width: 90px;
    }

    img {
      width: 100%;
      display: block;
    }
  }


  .box-logo {
    &-left {
      position: absolute;
      left: 0;
      top: 10px;

      @media screen and ( max-width: 1130px ) {
        width: 90px;
      }

      img {
        width: 100%;
        display: block;
      }
    }

    &-right {
      position: absolute;
      right: 0;
      top: 10px;

      @media screen and ( max-width: 1130px ) {
        width: 60px;
      }

      img {
        width: 100%;
        display: block;
      }
    }


  }

  @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
    padding: 0;
  }
}
