.wrap-like {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1;
  transition-duration: .3s;

  &:hover {
    background-color: #e01f37;
  }

  svg {
    position: relative;
    width: 13px;
    height: 13px;
    top: 2px;

    path {
      fill: white;
      transition-duration: .3s;
    }
  }

  &.plus {
    top: 10px;
    right: 10px;
    width: 34px;
    height: 34px;

    svg {
      position: relative;
      top: 3px;
      width: 20px;
      height: 20px;
    }
  }

  &.activated {
    svg {
      path {
        fill: #e01f37;
      }
    }

    &:hover {
      background-color: #e9e9e9;
    }
  }

  &:hover {
    svg {
      animation: tada;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    &.activated {
      svg {
        transform: scale(1);
        animation: none;
      }
    }
  }
}
