@import "../helpers/variables";

.loader {
  margin: 40px auto 20px;

  .btn {
    position: relative;
    margin: 0 auto;
    display: table;
    background-color: white;
    color: #333;
    font: 22px 'DIN Next CYR', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
    width: 100%;
    max-width: 360px;
    padding: 15px 0;
    z-index: 2;
    cursor: pointer;
    transition-duration: .3s;

    &:hover {
      color: white;
      background-color: #333;
    }
  }

  .box-loader {
    display: table;
    margin: 0 auto;
    font: 24px 'DIN Next CYR', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #181717;
    padding: 0 20px 0 10px;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      font-size: 18px;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  svg {
    display: block;
    height: 70px;
    margin-right: 5px;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      height: 50px;
    }
  }
}
