@import "../helpers/variables";

#menu {
  height: 100%;

  #burger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .box-home {
    margin-top: 15px;
    padding: 5px 25px;
    justify-content: space-between;
    background-color: transparent;
    border-top: none;

    h2 {
      margin-top: 0;
      padding: 0;
    }

    .icon-home {
      width: 25px;
      fill: white;
    }
  }

  .burger {
    position: absolute;
    // position: fixed;
    top: 20px;
    left: 20px;
    height: 20px;
    width: 30px;
    z-index: 5;

    span {
      position: absolute;
      width: 100%;
      height: 3px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      display: block;
      background: white;
      transition: .5s;
      border-radius: 1px;
    }

    span:first-child {
      top: 0;
    }

    span:last-child {
      top: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &.activate {
    .burger {
      span {
        opacity: 0;
        top: 50%;
      }
      span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }
      span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }
    }
  }

  .list-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    top: 0;
    left: -100vw;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    transition-duration: 0.5s;
    background-color: black;

    @media screen and ( $breakpointDesktop ), screen and ( $breakpointTablet ) {
      width: 400px;
      border-right: 1px solid rgba(0,0,0, .5);
      box-shadow: 27px 0 100px -10px rgba(0,0,0,.2);
    }
  }

  h2 {
    display: block;
    padding: 10px 25px;
    margin-top: 15px;
    font: 18px 'DIN Next CYR', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #333335;
  }

  .item-menu {
    position: relative;
    width: 100%;
    margin-left: 0;
    z-index: 1;
    white-space: nowrap;
  }

  a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 25px;
    color: white;
    font: 22px 'DIN Next CYR', sans-serif;
    background-color: #1c1c1e;
    border-top: 2px solid #333335;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover,
    &.activate {
      color: #e12a26;
    }

    img {
      width: 24px;
      margin-right: 10px;
    }
  }

  .list {
    border-top: 2px solid #333335;
    border-bottom: 2px solid #333335;
  }

  .item {
    position: relative;
    width: 100%;
    margin-left: 0;
    z-index: 1;

    &:first-child {
      a {
        border-top: none;
      }
    }
  }

  &.activate {
    .list-menu {
      left: 0;
    }
  }
}
