@import "../helpers/variables";

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #dedede;
  background-color: white;
  overflow-y: auto;
  max-height: 90vh;

  @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
    overflow: scroll;
  }

  .selo {
    position: absolute;
    display: block;
    width: 150px;
    right: 0;
    top: 227px;
    z-index: 3;
  }

  @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
    padding: 10px;
    max-width: 440px;

    .selo {
      width: 100px;
      right: 10px;;
      top: 180px;
    }
  }

  @media screen and ( $breakpointPhone ) {
    max-width: 100%;
    width: 100%;
    max-height: 100vh !important;
    border-radius: 0;
  }

  img {
    display: block
  }

  .wrap-thumb {
    background-color: white;
    padding: 30px 30px 10px;
  }

  .thumb {
    position: relative;
    display: flex;
    align-self: flex-end;
    width: 100%;
    max-width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      max-width: 440px;
      height: 260px;
    }
  }

  .item {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .name {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font: 18px 'DIN Next CYR', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #3d3d3d;
  }

  .price {
    font: 20px 'DIN Next CYR', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #df1f37;
  }

  .text {
    font: 12px 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 18px;
    color: #3d3d3d;
  }

  .lnk-instagram {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #ce1a30;
      font: 16px 'DIN Next CYR', sans-serif;

      img {
        margin-right: 10px;
      }

      span {
        position: relative;
        top: 1px;
        font-weight: bold;
      }
    }

    &:hover {
      a {
        color: #333;
      }
    }
  }

  .wrap-info {
    position: relative;
    max-width: 100%;
    background-color: white;
    color: #3d3d3d;
    font: 14px 'DIN Next CYR', sans-serif;
    z-index: 2;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      margin: 0;
      max-width: 100%;
    }

    h3 {
      display: block;
      color: #3d3d3d;
      font: 24px 'DIN Next CYR', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
    }

    h4 {
      font: 14px 'DIN Next CYR', sans-serif;
      font-weight: bold;
    }

    .lnk-address {
      font: 14px 'DIN Next CYR', sans-serif;
      color: #3d3d3d;

      &:hover {
        color: #ce1a30;
      }
    }

    p {
      line-height: 18px;
      font: 14px 'DIN Next CYR', sans-serif;
    }

    .btn-store {
      display: flex;
      flex-direction: row;
      padding: 10px;
      margin-top: 10px;
      border-radius: 50px;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      background-color: #ce1a30;
      color: white;
      font: 20px 'DIN Next CYR', sans-serif;
      font-weight: 300;
      text-transform: uppercase;

      &:hover {
        background-color: #3d3d3d;
      }

      &:first-child {
        margin-top: 0;
      }

      @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
        font-size: 16px;
      }

      .bold {
        font-weight: bold;

        @media screen and ( $breakpointPhone ) {
          font-size: 16px;
        }
      }

      img {
        display: block;
      }

      span {
        position: relative;
        top: 1px;
        text-align: center;
      }
    }
  }
}
