@import "../helpers/variables";

#promo {
  position: relative;
  padding: 0 20px;
  background-image: url( ../../../images/noise.jpg );
  background-position: center;
  background-repeat: repeat;

  .container {
    max-width: 1024px;
  }

  p {
    line-height: 20px;
    margin: 10px 0;
    color: white;
    font: 22px 'DIN Next CYR', sans-serif;
    font-weight: 400;
    line-height: 25px;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      font-size: 18px;
    }
  }

  strong {
    font: 22px 'DIN Next CYR', sans-serif;
    font-weight: bold;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      font-size: 18px;
    }
  }

  .description {
    padding-bottom: 30px;
    width: 415px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and ( max-width: 840px ) {
      width: 450px;
      margin: 0 auto;
    }

    @media screen and ( $breakpointPhone ) {
      width: auto;
    }
  }

  .icon-call {
    max-width: 100%;
    width: 450px;
    margin: 0 auto;
    display: block;

    @media screen and ( $breakpointPhone ) {
      width: auto;
    }
  }

  .col-1 {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 50px;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      display: block;
    }

    @media screen and ( max-width: 840px ) {
      padding: 0;
    }
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
      display: block;
    }

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
      margin-top: 25px;
      padding-left: 10px;

      &:first-child {
        margin-top: 10px;
      }

      @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
        padding-right: 0;
        margin-top: 25px;
      }
    }
  }
}
