@import "../helpers/variables";

#sponsors {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #8f0000;
  height: 115px;

  .box {
    min-width: 88vw;
  }

  @media screen and ( max-width: 640px ) {
    height: auto;
  }

  .content {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: flex-end;
    height: 115px;
    left: 50%;
    transform: translate(-50%, 0);

    @media screen and ( max-width: 640px ) {
      position: relative;
      height: auto;
      left: initial;
      transform: none;
    }
  }

  .icon-boy {
    margin-left: -10px;
  }

  .icon-girl {
    margin-right: -55px;
  }

  .icon-boy-girl {
    position: absolute;
    left: 50%;
    bottom: 115px;
    transform: translate(-50%, 0);
    display: none;
    width: auto;
    height: 385px;
  }

  @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
    .icon-boy,
    .icon-girl {
      display: none;
    }

    .icon-boy-girl {
      display: block;
      max-width: 100%;
    }
  }

  @media screen and ( max-width: 640px ) {
    .icon-boy-girl {
      top: -240px;
      height: 240px;
      bottom: auto;
    }
  }

  .wrap-sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media screen and ( $breakpointPhone ) {
      flex-direction: column;
      padding: 5px;
    }

    h4 {
      font-size: 12px;
      margin: 10px;
      text-align: center;
      text-transform: uppercase;
      color: white;

      @media screen and ( $breakpointPhone ) {
        margin-bottom: 0;
        font-size: 10px;
      }
    }

    .list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

      @media screen and ( $breakpointPhone ) {
        width: 100%;
        flex-wrap: wrap;
      }

      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;

        @media screen and ( $breakpointPhone ) {
          margin: 5px 10px;
        }
      }

      .goose {
        height: 64px;
      }

      .mondial {
        height: 25px;
      }

      .getnet {
        height: 18px;
      }

      .esfera {
        height: 19px;
      }

      @media screen and ( max-width: 640px ) {
        .goose {
          height: 45px;
        }

        .mondial {
          height: 12px;
        }

        .getnet {
          height: 13px;
        }

        .esfera {
          height: 14px;
        }
      }

      .inline {
        img {
          margin: 5px;
          display: inline-block;
          overflow: hidden;
        }
      }
    }
  }
}
