@import "../helpers/variables";

#stores {
  position: relative;
  background-image: url( ../../../images/noise.jpg );
  background-position: center;
  background-repeat: repeat;
  z-index: 999;

  .container {
    max-width: 1024px;
    margin: 0 auto;
  }

  .warn-stores {
    color: white;
    padding: 80px 25px 40px;
    font: 20px 'DIN Next CYR', sans-serif;
    text-align: center;
  }

  h2 {
    font: 30px 'DIN Next CYR', sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}
