@import "../helpers/variables";

#terms {
  position: relative;
  padding: 60px 0 0;

  .container {
    max-width: 1024px;
  }

  h2 {
    font: 24px 'DIN Next CYR', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  p {
    margin: 10px 0;
    font: 16px 'DIN Next CYR', sans-serif;
    color: white;
  }

  strong {
    font: 16px 'DIN Next CYR', sans-serif;
    font-weight: bold;
  }
}
