* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

em {
  font-style: italic;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  position: relative;
  display: block;
  width: 100%;
}

@import "../helpers/variables";

#landing {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: url( ../images/bg-teaser.jpg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#landing img {
  padding: 40px 0;
  display: block;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
