
<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header" style="text-align: center">
				<div class="dropdown profile-element"> <span style="padding-bottom: 10px; display: block">
					{% if usuarioAtual.UsuarioID == 1 %}
						<img alt="image" class="img-circle" src="{{ assetUri }}/web/img/profile_small.jpg" />
					{% else %}
						<img alt="image" class="img-circle" src="{{ assetUri }}/web/img/user.jpg" />
					{% endif %}
					 </span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<span class="text-muted text-xs block">{{ usuarioAtual.usu_nome }} <b class="caret"></b></span> </span> </a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<!--li><a href="/service/admin/alterar-senha">Alterar senha</a></li-->
						<li><a data-toggle="modal" href="#modal-form-alterar-senha" alt="Alterar senha" title="Alterar senha">Alterar senha</a></li>

						<li class="divider"></li>
						<li><a href="/service/admin/logout">Logout</a></li>
					</ul>
				</div>
				<div class="logo-element" style="font-size: 16px;">
					{{ appNome }}
				</div>
			</li>

			<li {% if rota == 'home' %} class="active" {% endif %}>
				<a href="/service/admin/ambientes"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
			</li>
			
			<li {% if rota == '{ROTA}' %} class="active" {% endif %}>
				<a href="/service/admin/{ROTA}"><i class="fa fa-home"></i> <span class="nav-label">{NOME}</span></a>
			</li>			
			
			<!--li {% if 'menu' in rota %} class="active" {% endif %}>
				<a href="#"><i class="fa fa-bars"></i> <span class="nav-label">Menu</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li {% if rota == 'menu/principal' %} class="active" {% endif %}><a href="/service/admin/menu/principal">Principal</a></li>
					<li {% if rota == 'menu/submenu' %} class="active" {% endif %}><a href="/service/admin/menu/submenu">Submenu</a></li>
				</ul>
			</li-->

			{% if usuarioAtual.UsuarioID == 1 %}

				<li style="display: block; background-color: #293846; height: 2px;"></li>

				<li {% if rota == 'usuarios' %} class="active" {% endif %}>
					<a href="/service/admin/usuarios"><i class="fa fa-user"></i> <span class="nav-label">Usu&aacute;rios</span></a>
				</li>

			{% endif %}

				<li {% if rota == 'construtor' %} class="active" {% endif %}>
					<a href="/service/admin/construtor"><i class="fa fa-user"></i> <span class="nav-label">Construtor</span></a>
				</li>

			{% if usuarioAtual.UsuarioID == 1 %}

				<!--li style="display: block; background-color: #293846; height: 2px;"></li>

				<li {% if rota == 'rotas' %} class="active" {% endif %}>
					<a href="/service/admin/rotas"><i class="fa fa-location-arrow"></i> <span class="nav-label">Rotas</span></a>
				</li>
				<li {% if rota == 'usuarios' %} class="active" {% endif %}>
					<a href="/service/admin/usuarios"><i class="fa fa-user"></i> <span class="nav-label">Usu&aacute;rios</span></a>
				</li>
				<li {% if rota == 'usuarios-grupo' %} class="active" {% endif %}>
					<a href="/service/admin/usuarios-grupo"><i class="fa fa-users"></i> <span class="nav-label">Grupo de Usu&aacute;rios</span></a>
				</li-->

			{% endif %}


			<!--li class="active">
				<a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li class="active"><a href="index.html">Dashboard v.1</a></li>
					<li ><a href="dashboard_2.html">Dashboard v.2</a></li>
					<li ><a href="dashboard_3.html">Dashboard v.3</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="graph_flot.html">Flot Charts</a></li>
					<li><a href="graph_morris.html">Morris.js Charts</a></li>
					<li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>
					<li><a href="graph_chartjs.html">Chart.js</a></li>
					<li><a href="graph_peity.html">Peity Charts</a></li>
					<li><a href="graph_sparkline.html">Sparkline Charts</a></li>
				</ul>
			</li>
			<li>
				<a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning pull-right">16/24</span></a>
				<ul class="nav nav-second-level">
					<li><a href="mailbox.html">Inbox</a></li>
					<li><a href="mail_detail.html">Email view</a></li>
					<li><a href="mail_compose.html">Compose email</a></li>
					<li><a href="email_template.html">Email templates</a></li>
				</ul>
			</li>
			<li>
				<a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span> </a>
			</li>
			<li>
				<a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="form_basic.html">Basic form</a></li>
					<li><a href="form_advanced.html">Advanced Plugins</a></li>
					<li><a href="form_wizard.html">Wizard</a></li>
					<li><a href="form_file_upload.html">File Upload</a></li>
					<li><a href="form_editors.html">Text Editor</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="pull-right label label-primary">SPECIAL</span></a>
				<ul class="nav nav-second-level">
					<li><a href="contacts.html">Contacts</a></li>
					<li><a href="profile.html">Profile</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="project_detail.html">Project detail</a></li>
					<li><a href="file_manager.html">File manager</a></li>
					<li><a href="calendar.html">Calendar</a></li>
					<li><a href="faq.html">FAQ</a></li>
					<li><a href="timeline.html">Timeline</a></li>
					<li><a href="pin_board.html">Pin board</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="search_results.html">Search results</a></li>
					<li><a href="lockscreen.html">Lockscreen</a></li>
					<li><a href="invoice.html">Invoice</a></li>
					<li><a href="login.html">Login</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="404.html">404 Page</a></li>
					<li><a href="500.html">500 Page</a></li>
					<li><a href="empty_page.html">Empty page</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info pull-right">NEW</span></a>
				<ul class="nav nav-second-level">
					<li><a href="google_maps.html">Google maps</a></li>
					<li><a href="code_editor.html">Code editor</a></li>
					<li><a href="modal_window.html">Modal window</a></li>
					<li><a href="nestable_list.html">Nestable list</a></li>
					<li><a href="validation.html">Validation</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="typography.html">Typography</a></li>
					<li><a href="icons.html">Icons</a></li>
					<li><a href="draggable_panels.html">Draggable Panels</a></li>
					<li><a href="buttons.html">Buttons</a></li>
					<li><a href="video.html">Video</a></li>
					<li><a href="tabs_panels.html">Tabs & Panels</a></li>
					<li><a href="notifications.html">Notifications & Tooltips</a></li>
					<li><a href="badges_labels.html">Badges, Labels, Progress</a></li>
				</ul>
			</li>

			<li>
				<a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="table_basic.html">Static Tables</a></li>
					<li><a href="table_data_tables.html">Data Tables</a></li>
					<li><a href="jq_grid.html">jqGrid</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li><a href="basic_gallery.html">Basic Gallery</a></li>
					<li><a href="carousel.html">Bootstrap Carusela</a></li>

				</ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li>
						<a href="#">Third Level <span class="fa arrow"></span></a>
						<ul class="nav nav-third-level">
							<li>
								<a href="#">Third Level Item</a>
							</li>
							<li>
								<a href="#">Third Level Item</a>
							</li>
							<li>
								<a href="#">Third Level Item</a>
							</li>

						</ul>
					</li>
					<li><a href="#">Second Level Item</a></li>
					<li>
						<a href="#">Second Level Item</a></li>
					<li>
						<a href="#">Second Level Item</a></li>
				</ul>
			</li>
			<li>
				<a href="css_animation.html"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info pull-right">62</span></a>
			</li>
			<li class="landing_link">
				<a target="_blank" href="Landing_page/index.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
			</li>
			<li class="special_link">
				<a href="angularjs.html"><i class="fa fa-google"></i> <span class="nav-label">AngularJS</span></a>
			</li-->
		</ul>

	</div>
</nav>

<!-- Modal alterar senha -->
<div id="modal-form-alterar-senha" class="modal fade" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<h3 class="m-t-none m-b">Alterar minha senha</h3>

					<div class="hr-line-dashed"></div>

					<div class="alert alert-warning" style="display: none;"></div>
					<div class="alert alert-info" style="display: none;"></div>
					<div class="alert alert-danger" style="display: none;"></div>
					<div class="alert alert-success" style="display: none;"></div>

					<form role="form" id="form-alterar-senha" enctype="multipart/form-data">
						<input type="hidden" name="UsuarioID" id="UsuarioID" value="{{usuarioAtual.UsuarioID}}">

						<div class="form-group">
							<label>Nova senha:</label>
							<input type="password" name="usu_senha_nova" id="usu_senha_nova" class="form-control" required>
						</div>

						<div class="form-group">
							<label>Repita a nova senha:</label>
							<input type="password" name="usu_senha_repita_nova" id="usu_senha_repita_nova" class="form-control" required>
						</div>

						<div class="hr-line-dashed"></div>

						<div>
							<button class="btn btn-w-m btn-default pull-left" type="button" data-dismiss="modal"><strong>Cancelar</strong></button>
							<button class="btn btn-w-m btn-primary pull-right" type="submit" id="salvarEditar"><strong>Salvar</strong></button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
