@import "../helpers/variables";

#landing {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: url( ../../../images/bg-teaser.jpg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  img {
    padding: 40px 0;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    // position: fixed;
    // display: block;
    // padding: 20px;
    // top: 50%;
    // left: 50%;
    // max-height: 100%;
    // transform: translate(-50%, -50%);

    @media screen and ( $breakpointTablet ) {
      padding: 100px 0;
    }
  }

  p {
    text-align: center;
    margin: 5px;
  }

  header {
    .text-1 {
      font-size: 14px;
      font-weight: 400;

      @media screen and ( $breakpointPhone ) {
        font-size: 13px;
      }
    }

    .text-2 {
      font-size: 28px;
      font-weight: bold;

      @media screen and ( $breakpointPhone ) {
        font-size: 20px;
      }
    }
  }

  footer {
    font-size: 50px;
    font-weight: bold;

    @media screen and ( $breakpointPhone ) {
      font-size: 28px;
    }
  }


}
