@import "helpers/variables";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

em {
  font-style: italic;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  position: relative;
  display: block;
  width: 100%;
  font-family: 'DIN Next CYR', sans-serif;
  font-weight: 500;

  &.lock {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .mask-menu {
      display: block!important;
    }
  }
}

.main {
  background-color: #222020;
}

.content-page {
  position: relative;
  z-index: 1;
}

.react-modal {
  top: 0;
  z-index: 999999!important;

  @media screen and ( $breakpointPhone ) {
    justify-content: flex-start!important;
    align-items: flex-start!important;
  }
}

.react-modal-overlay {
  opacity: .85;
  background-color: black!important;
}

.react-modal-body {
  max-width: 650px;
  background: none!important;
  width: 100%!important;
  border: none!important;

  @media screen and ( $breakpointTablet ) {
    max-width: 440px;
  }

  @media screen and ( $breakpointPhone ) {
    max-width: 100%;
    width: 100%;
    height: 100%;;
  }
}

.react-modal-body-close {
  display: block;
  left: 16px;
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url( ../../images/icon-close.png );
  z-index: 4;

  @media screen and ( $breakpointPhone ), screen and ( $breakpointTablet ) {
    top: 20px!important;
    left: 20px!important;
    width: 20px!important;
    height: 20px!important;
  }

  &:after,
  &:before {
    display: none;
  }
}

a {
  text-decoration: none;
  transition-duration: .3s;
  cursor: pointer;
}

.lnk-default {
  text-decoration: none;
  transition-duration: .3s;
  color: #515151;
  cursor: pointer;

  &:hover {
    color: #e73b6c;
  }
}

.lnk-default-contrast {
  text-decoration: none;
  transition-duration: .3s;
  color: #e73b6c;
  cursor: pointer;

  &:hover {
    color: #515151;
  }
}

.lnk-bg-default-contrast {
  text-decoration: none;
  transition-duration: .3s;
  color: white;
  background-color: #e73b6c;
  cursor: pointer;

  &:hover {
    background-color: #515151;
  }
}

.lnk-default-underline {
  display: inline-block;
  text-decoration: none;
  transition-duration: .3s;
  color: white;
  text-decoration: none;
  cursor: pointer;
  line-height: 20px;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
  }

  &:hover {
    text-decoration: none;

    &:after {
      animation: underliner 1s ease-out;
    }
  }

  &.contrast {
    color: #e73b6c;

    &:after {
      background: #e73b6c;
    }
  }
}

@keyframes underliner {
  0% {
    width: 100%
  }

  50% {
    width: 0
  }

  to {
    width: 100%
  }
}

strong {
  font-family: "robotobold";
}

.hide-phone {
  @media screen and ( $breakpointPhone ) {
    display: none!important;
  }
}

.hide-tablet {
  @media screen and ( $breakpointTablet) {
    display: none!important;
  }
}

.hide-desktop {
  @media screen and ( $breakpointDesktop ) {
    display: none!important;
  }
}

.__react_component_tooltip {
  padding: 10px;
  border-radius: 10px;
  z-index: 9999;
  border-width: 3px;
  border-style: solid;
  font: 14px 'robotoregular';
  line-height: 20px;

  &.w-100 {
    max-width: auto;
  }

  &.contained {
    padding: 0;
  }

  &.type-light {
    border-color: #e73b6c!important;

    &:after {
      border-color: #e73b6c!important;
      background-color: white!important;
    }
  }

  &.type-dark {
    border-color: #e73b6c!important;
    background-color: #e73b6c;

    &:after {
      border-color: #e73b6c!important;
      background-color: #e73b6c;
    }
  }

  &:after {
    width: 10px;
    height: 10px;
    border-radius: 0 0 0 1px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin-top: 0!important;
    border: none!important;
    border-left-width: 3px!important;
    border-bottom-width: 3px!important;
    border-left-style: solid!important;
    border-bottom-style: solid!important;
  }

  &.place-left {
    &:after {
      margin-top: 0;
      right: 0;
      transform: translate(9px, -50%) rotate(225deg);
    }
  }

  &.place-bottom {
    &:after {
      top: 0;
      transform: translate(0, -9px) rotate(135deg);
    }
  }

  &.place-top {
    &:after {
      bottom: 0;
      transform: translate(0, 9px) rotate(315deg);
    }
  }

  &.place-right {
    &:after {
      right: 0;
      transform: translate(-3px, -50%) rotate(45deg);
    }
  }

  @media screen and ( $breakpointPhone ) {
    max-width: auto;
  }
}

.warn-not-founded {
  margin: 0 auto;
  font: 22px "robotobold"!important;
  max-width: 60vw;
  text-align: center;
  color: #515151!important;

  small {
    display: block;
    color: #e73b6c;
    font: 56px "kginimitable";
  }

  @media screen and ( $breakpointPhone ) {
    max-width: 80vw;
    font: 18px "robotobold";

    small {
      color: #e73b6c;
      font-size: 28px;
    }
  }
}
