                <div class="footer">
                    <div>
                        <strong>Copyright</strong> Inkuba Comunicação &copy; {{ "now"|date("Y") }}
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{{ assetUri }}/web/js/jquery-2.1.1.js"></script>
    <script src="{{ assetUri }}/web/js/bootstrap.min.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/jeditable/jquery.jeditable.js"></script>

    <!-- Flot -->
    <script src="{{ assetUri }}/web/js/plugins/flot/jquery.flot.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="{{ assetUri }}/web/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="{{ assetUri }}/web/js/demo/peity-demo.js"></script>

    <!-- jQuery UI -->
    <script src="{{ assetUri }}/web/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="{{ assetUri }}/web/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- EayPIE -->
    <script src="{{ assetUri }}/web/js/plugins/easypiechart/jquery.easypiechart.js"></script>

    <!-- Sparkline -->
    <script src="{{ assetUri }}/web/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="{{ assetUri }}/web/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS -->
    <script src="{{ assetUri }}/web/js/plugins/chartJs/Chart.min.js"></script>

	<!-- Data Tables -->
	<script src="{{ assetUri }}/web/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/dataTables/dataTables.responsive.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="{{ assetUri }}/web/js/inspinia.js"></script>
    <script src="{{ assetUri }}/web/js/plugins/pace/pace.min.js"></script>

    <script src="{{ assetUri }}/web/js/plugins/jquery.serializejson/jquery.serializejson.min.js"></script>

    <script>
        $(document).ready(function() {

			$('#editable').dataTable({"order": [0,'desc']});

			$('#editable').on('search.dt', function() {
				var rows = $( this ).dataTable()._('tr', {"filter":"applied"});
				var res  = "";
				for (var i = 0; i < rows.length; i++) {
					res += rows[i][0];
					if(i < (rows.length-1)) {
						res += ','
					}
				}

				$(".btn-white").data({"options" : res});
			});			
			
			/* Apply the jEditable handlers to the table */
			/*oTable.$('td').editable( '../example_ajax.php', {
				"callback": function( sValue, y ) {
					var aPos = oTable.fnGetPosition( this );
					oTable.fnUpdate( sValue, aPos[0], aPos[1] );
				},
				"submitdata": function ( value, settings ) {
					return {
						"row_id": this.parentNode.getAttribute('id'),
						"column": oTable.fnGetPosition( this )[2]
					};
				},

				"width": "90%",
				"height": "100%"
			});			*/
        });
    </script>
</body>
</html>
