<script>
	$(function() {
		// Salva dados do form para novo registro
		$("#form").submit(function(e) {
			$("#form").find("#salvarNovo").text('Aguarde...').attr('disabled', 'disabled');

			$.post('/service/admin/{{ rota }}', $(this).serializeArray(), function(data) {
				if(typeof data.cod != 'number') {
					location.replace('/service/admin/login');
				}

				if(data.cod == 200) {
					$("#form").parent().find(".alert-success").slideDown('fast').text(data.res);
					location.reload();

				} else if(data.cod == 404) {
					$("#form").parent().find(".alert-info").slideDown('fast').text(data.res).delay(3000).slideUp('fast');

				} else {
					$("#form").parent().find(".alert-danger").slideDown('fast').text(data.res).delay(3000).slideUp('fast');

				}

				$("#form").find("#salvarNovo").text('Salvar').removeAttr('disabled');

			}, 'JSON')
			.fail(function(x, r, s) {
				if(r == 'parseerror') {
					location.replace('/service/admin/login');
				}
			});

			e.preventDefault();

		});

		// Edicao do form
		$("#form-editar").submit(function(e) {
			$("#form-editar").find("#salvarEditar").text('Aguarde...').attr('disabled','disabled');

			$.post('/service/admin/{{ rota }}/' + $(this).find('input').eq(0).val(), $(this).serializeArray(), function(data) {
				if(typeof data.cod != 'number') {
					location.replace('/service/admin/login');
				}

				if(data.cod == 200) {
					$("#form-editar").parent().find(".alert-success").slideDown("fast").text(data.res);
					window.location.reload();

				} else if(data.cod == 404) {
					$("#form-editar").parent().find(".alert-info").slideDown('fast').text(data.res).delay(3000).slideUp('fast');

				} else {
					$("#form-editar").parent().find(".alert-danger").slideDown('fast').text(data.res).delay(3000).slideUp('fast');

				}

				$("#form-editar").find("#salvarEditar").text('Salvar').removeAttr('disabled');

			}, 'JSON')
			.fail(function(x, r, s) {
				if(r == 'parseerror') {
					location.replace('/service/admin/login');
				}
			});

			e.preventDefault();
		});

		// Repassa o ID par exclusao do registro
		$('#editable').on("click", ".btn-danger", function() {
			$("#idExclusao").text($(this).data('id'));
		})
		.on("click", ".btn-warning", function() {
			$("#galeriaProdutoID").val($(this).data('id'));
			$("#pro_galeria").val($(this).data('galeria'));
		});

		// Alterar senha
		$("#form-alterar-senha").submit(function(e) {
			$("#form-alterar-senha").find("#salvarEditar").text('Aguarde...').attr('disabled','disabled');

			$.post('/service/admin/usuarios-alterar-senha', $(this).serializeArray(), function(data) {
				if(typeof data.cod != 'number') {
					location.replace('/service/admin/login');
				}

				if(data.cod == 200) {
					$("#form-alterar-senha").parent().find(".alert-success").slideDown("fast").text(data.res);
					window.location.href='/service/admin/logout';

				} else if(data.cod == 404) {
					$("#form-alterar-senha").parent().find(".alert-info").slideDown('fast').text(data.res).delay(3000).slideUp('fast');

				} else {
					$("#form-alterar-senha").parent().find(".alert-danger").slideDown('fast').text(data.res).delay(3000).slideUp('fast');

				}

				$("#form-alterar-senha").find("#salvarEditar").text('Salvar').removeAttr('disabled');

			}, 'JSON')
			.fail(function(x, r, s) {
				if(r == 'parseerror') {
					location.replace('/service/admin/login');
				}
			});

			e.preventDefault();
		});

	});

	// Dados do registro
	function getDados(id) {

		// pega os campos do formulario
		var arrCampos = [];
		$('input, textarea, select').each(function() {
			if($(this).attr('name') != 'editable_length' && $(this).attr('name') != 'undefined' && $(this).attr('name') != '' && $(this).attr('name') != '_METHOD') {
				arrCampos.push($(this).attr('name'));
			}
		});

		// Desativa campos ate o retorno do get
		$('#form-editar').find('input, textarea, button, select').attr('disabled','disabled');

		$.get("/service/admin/{{ rota }}/" + id, function(data) {
			if(data.cod == 401) {
				location.replace('/service/admin/login');
				return false;
			}

			if(data.cod == 200) {
				$.each(data.res, function(campo, valor) {
					if($.inArray(valor, arrCampos) && campo != 'undefined') {

						//alert(campo);

						// Excessões de campos
						if(campo.indexOf("imagem") > 0 && valor > 0 && (campo != '' || campo != 'null' || campo != 'Nenhum resultado encontrado ou atualizado.')) {

							$.get("/service/admin/{{ rota }}/imagem/" + valor, function(imagem) {
								if(imagem.arq_extensao == 'mp4') {
									$("#form-editar").find("#view_"+campo).html("<video src='" + imagem.arq_nome + "' controls autoplay></video>");
								} else {
									$("#form-editar").find("#view_"+campo).html("<img src='" + imagem.arq_nome + "' width='30%'>");
								}
							},'JSON');

							$("#form-editar").find("#"+campo).val(valor);

						} else {
							/*if(valor == "" || valor == 'undefined') {
								$("#form-editar").find("#"+campo).parent().css("display", "none");

							} else {*/
								if(valor == "" && campo.substring(0,3) == "cur") {
									$("#form-editar").find("#"+campo).parent().css("display", "none");
								} else {
									$("#form-editar").find("#"+campo).val(valor);
									$("#form-editar").find("#"+campo).removeAttr('disabled');
								}


								// $("#form-editar").find("#"+campo).val(valor);

								// if(campo != "pag_nome") {
								// 	$("#form-editar").find("#"+campo).removeAttr('disabled');
								// }
							//}

						}

						if(campo == "pag_nome" || campo == "pag_MenusID" || campo == "pag_idioma") {
							$("#form-editar").find("#"+campo).attr('disabled','disabled');
						}
					}
				});

				//if(campo != "pag_nome" && campo != "pag_MenusID" && campo != "pag_idioma") {
					$('#form-editar').find('input, textarea, button, select').removeAttr('disabled');
					//$('#form-editar').find('button').removeAttr('disabled');
				//}
			} else {
				$(".alert-danger").slideDown('fast').text('Dados não encontrados.').delay(3000).slideUp('fast');

			}

		}, 'JSON')
		.fail(function(x, r, s) {
			if(r == 'parseerror') {
				location.replace('/service/admin/login');
			}
		});
	}

	// Deleta registro
	function deleteDados(id) {
		$("#btnExcluir").text('Aguarde...').attr('disabled','disabled');

		$.post("/service/admin/{{ rota }}/" + id, {'_METHOD':'DELETE'}, function(data) {
			if(typeof data.cod != 'number') {
				location.replace('/service/admin/login');
			}

			if(data.cod == 200) {
				$(".alert-success").slideDown('fast').text(data.res).delay(5000).slideUp('fast');
				window.location.reload();

			} else {
				$(".alert-danger").slideDown('fast').text(data.res).delay(5000).slideUp('fast');
			}

			$("#btnExcluir").text('Salvar').removeAttr('disabled');

		}, 'JSON').fail(function(x, r, s) {
			if(r == 'parseerror') {
				location.replace('/service/admin/login');
			}
		});
	}

</script>
