<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin | {{ pagina }}</title>

    <link href="{{ assetUri }}/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Morris -->
    <link href="{{ assetUri }}/web/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="{{ assetUri }}/web/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <!-- Data Tables -->
    <link href="{{ assetUri }}/web/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
	
    <link href="{{ assetUri }}/web/css/animate.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/css/style.css" rel="stylesheet">
	
</head>

<body>
    <div id="wrapper">

		{% include '/admin/base/menu.html.twig' %}

        <div id="page-wrapper" class="gray-bg dashbard-1">

			{% include '/admin/base/topbar.html.twig' %}
		
