<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ADMIN | Login</title>

    <link href="{{ assetUri }}/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{{ assetUri }}/web/css/animate.css" rel="stylesheet">
    <link href="{{ assetUri }}/web/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
				<img src="{{ assetUri }}/web/img/inkuba.png">
                <h1 class="logo-name"></h1>

            </div>

            <p>Informe seus dados de Login.</p>

			<div class="alert alert-danger" style="display: none;">Dados inv&aacute;lidos.<br>Verifique seu email e senha.</div>

            <form class="m-t" role="form" method="post" id="formLogin">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" required="" name="usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" required="" name="senha">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" id="btnLogin">Login</button>

                <!--a href="/esqueci-minha-senha"><small>Esqueceu sua senha?</small></a-->
            </form>

            <p class="m-t"> <small>Inkuba Comunica&ccedil;&atilde;o &copy; 2020</small> </p>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{{ assetUri }}/web/js/jquery-2.1.1.js"></script>
    <script src="{{ assetUri }}/web/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(function() {
			$("#formLogin").submit(function(e) {
				$("#formLogin").find("#btnLogin").text('Aguarde...').attr('disabled','disabled');

				$.post('/service/admin/login', $(this).serializeArray(), function(data) {

					if(data.cod == 200) {
						location.href=data.url;
					} else {
						$(".alert-danger").show();
						$("#formLogin").find("#btnLogin").text('Salvar').removeAttr('disabled');
					}

				}, 'JSON');

				e.preventDefault();
			});
		});
	</script>

</body>

</html>
