<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header" style="text-align: center">
				<div class="dropdown profile-element"> <span style="padding-bottom: 10px; display: block">
					{% if usuarioAtual.UsuarioID == 1 %}
						<img alt="image" class="img-circle" src="{{ assetUri }}/web/img/profile_small.jpg" />
					{% else %}
						<img alt="image" class="img-circle" src="{{ assetUri }}/web/img/user.jpg" />
					{% endif %}
					 </span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<span class="text-muted text-xs block">{{ usuarioAtual.usu_nome }} <b class="caret"></b></span> </span> </a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<!--li><a href="/service/admin/alterar-senha">Alterar senha</a></li-->
						<li><a data-toggle="modal" href="#modal-form-alterar-senha" alt="Alterar senha" title="Alterar senha">Alterar senha</a></li>

						<li class="divider"></li>
						<li><a href="/service/admin/logout">Logout</a></li>
					</ul>
				</div>
				<div class="logo-element" style="font-size: 16px;">
					{{ appNome }}
				</div>
			</li>

			<li {% if rota == 'destaques/home' %} class="active" {% endif %}>
					<a href="/service/admin/destaques/home"><i class="fa fa-desktop"></i> <span class="nav-label">Destaques</span></a>
			</li>

			<li {% if rota == 'restaurantes' %} class="active" {% endif %}>
				<a href="/service/admin/restaurantes"><i class="fa fa-user"></i> <span class="nav-label">Restaurantes</span></a>
			</li>

			{% if usuarioAtual.usu_grupos == 1 %}

				<li {% if rota == 'usuarios' %} class="active" {% endif %}>
					<a href="/service/admin/usuarios"><i class="fa fa-user"></i> <span class="nav-label">Usu&aacute;rios</span></a>
				</li>

			{% endif %}

			{% if usuarioAtual.UsuarioID == 1 %}

				<!--li style="display: block; background-color: #293846; height: 2px;"></li>

				<li {% if rota == 'rotas' %} class="active" {% endif %}>
					<a href="/service/admin/rotas"><i class="fa fa-location-arrow"></i> <span class="nav-label">Rotas</span></a>
				</li>
				<li {% if rota == 'usuarios' %} class="active" {% endif %}>
					<a href="/service/admin/usuarios"><i class="fa fa-user"></i> <span class="nav-label">Usu&aacute;rios</span></a>
				</li>
				<li {% if rota == 'usuarios-grupo' %} class="active" {% endif %}>
					<a href="/service/admin/usuarios-grupo"><i class="fa fa-users"></i> <span class="nav-label">Grupo de Usu&aacute;rios</span></a>
				</li-->

			{% endif %}

		</ul>

	</div>
</nav>

<!-- Modal alterar senha -->
<div id="modal-form-alterar-senha" class="modal fade" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<h3 class="m-t-none m-b">Alterar minha senha</h3>

					<div class="hr-line-dashed"></div>

					<div class="alert alert-warning" style="display: none;"></div>
					<div class="alert alert-info" style="display: none;"></div>
					<div class="alert alert-danger" style="display: none;"></div>
					<div class="alert alert-success" style="display: none;"></div>

					<form role="form" id="form-alterar-senha" enctype="multipart/form-data">
						<input type="hidden" name="UsuarioID" id="UsuarioID" value="{{usuarioAtual.UsuarioID}}">

						<div class="form-group">
							<label>Nova senha:</label>
							<input type="password" name="usu_senha_nova" id="usu_senha_nova" class="form-control" required>
						</div>

						<div class="form-group">
							<label>Repita a nova senha:</label>
							<input type="password" name="usu_senha_repita_nova" id="usu_senha_repita_nova" class="form-control" required>
						</div>

						<div class="hr-line-dashed"></div>

						<div>
							<button class="btn btn-w-m btn-default pull-left" type="button" data-dismiss="modal"><strong>Cancelar</strong></button>
							<button class="btn btn-w-m btn-primary pull-right" type="submit" id="salvarEditar"><strong>Salvar</strong></button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
